# Py Cache
__pycache__/

source/assets/*
source/users/*
source/www/*

################ Python
source/python/modules/*
!source/python/modules/Backup.py
!source/python/modules/FileSystem.py
!source/python/modules/Globals.py
!source/python/modules/GMail.py
!source/python/modules/Logger.py
!source/python/modules/LogInTools.py
!source/python/modules/MongoDB.py
!source/python/modules/MySQL.py
!source/python/modules/Notifications.py
!source/python/modules/OpenAI.py
!source/python/modules/Page.py
!source/python/modules/PDF.py
!source/python/modules/Random.py
!source/python/modules/response.py
!source/python/modules/routeGuard.py
!source/python/modules/SendGrid.py
!source/python/modules/tools.py
!source/python/modules/User.py

################ Pages
#### Back
# User Made Pages
source/python/pages/*.py

# Allow Default Pages
!source/python/pages/__init__.py

!source/python/pages/api.py
!source/python/pages/eMailConfirmation.py
!source/python/pages/error_handlers.py
!source/python/pages/files_assets.py
!source/python/pages/files_users.py
!source/python/pages/logIn.py
!source/python/pages/logOut.py
!source/python/pages/logOutInstant.py
!source/python/pages/signUp.py
!source/python/pages/forgotPwd.py
!source/python/pages/resetPwd.py

