# Py Cache
__pycache__/

################ Assets
source/assets/*

################ Users
source/users/*

################ Fonts
source/fonts/*
!source/fonts/Quicksand-Regular.ttf
!source/fonts/AlegreyaSans-Regular.ttf
!source/fonts/Cardo-Regular.ttf
!source/fonts/Cinzel-Regular.ttf
!source/fonts/Eczar-Regular.ttf
!source/fonts/Gruppo-Regular.ttf
!source/fonts/JosefinSans-Regular.ttf
!source/fonts/JosefinSlab-Regular.ttf
!source/fonts/Macondo-Regular.ttf
!source/fonts/Philosopher-Regular.ttf
!source/fonts/Marcellus-Regular.ttf
!source/fonts/SpecialElite-Regular.ttf

################ Images
source/images/*
!source/images/favicon

################ JavaScripts
source/js/modules/*
!source/js/modules/bridge.js
!source/js/modules/logger.js
!source/js/modules/tools.js

################ Python
source/python/modules/*
!source/python/modules/FileSystem.py
!source/python/modules/Globals.py
!source/python/modules/GMail.py
!source/python/modules/Logger.py
!source/python/modules/MongoDB.py
!source/python/modules/MySQL.py
!source/python/modules/OpenAI.py
!source/python/modules/pageGuard.py
!source/python/modules/PDF.py
!source/python/modules/Random.py
!source/python/modules/response.py
!source/python/modules/routeGuard.py
!source/python/modules/SendGrid.py
!source/python/modules/tools.py
!source/python/modules/User.py

################ Pages
#### Back
# User Made Pages
source/python/pages/*.py

# Allow Default Pages
!source/python/pages/__init__.py

!source/python/pages/signUp.py
!source/python/pages/eMailConfirmation.py
!source/python/pages/logIn.py
!source/python/pages/logOut.py
!source/python/pages/logOutInstant.py

!source/python/pages/page_not_found.py
!source/python/pages/app_is_down.py

!source/python/pages/api.py


#### Front
# User Made Pages
source/js/pages/*.js

# Allow Default Pages
!source/js/pages/signUp.js
!source/js/pages/eMailConfirmation.js
!source/js/pages/logIn.js
!source/js/pages/logOut.js
!source/js/pages/logOutInstant.js

!source/js/pages/404.js
!source/js/pages/appIsDown.js
