.user-select-none{ user-select: none; }

.empty-display-none { &:empty { display: none; } }

.on-target-display-flex {
	& > * {
		display:none;

		&:first-child:not(:target):not(:has(~ :target)) { display: flex; }

		&:target{ display: flex; }
	}
}
