@font-face{
	font-family: Philosopher;
	src:url("/fonts/Philosopher-Regular.ttf");
}
.font-family-Philosopher{font-family: Philosopher;}


@font-face{
	font-family: Poppins;
	src:url("/fonts/Poppins-Regular.ttf");
}
.font-family-Poppins{font-family: Poppins;}


@font-face{
	font-family: Quicksand;
	src:url("/fonts/Quicksand-Regular.ttf");
}
.font-family-Quicksand{font-family: Quicksand;}


@font-face{
	font-family: Rubik;
	src:url("/fonts/Rubik-Regular.ttf");
}
.font-family-Rubik{font-family: Rubik;}
