@font-face{
  font-family: Quicksand;
  src:url("/fonts/Quicksand-Regular.ttf");
}

@font-face{
  font-family: AlegreyaSans;
  src:url("/fonts/AlegreyaSans-Regular.ttf");
}

@font-face{
  font-family: Cardo;
  src:url("/fonts/Cardo-Regular.ttf");
}

@font-face{
  font-family: Cinzel;
  src:url("/fonts/Cinzel-Regular.ttf");
}

@font-face{
  font-family: Eczar;
  src:url("/fonts/Eczar-Regular.ttf");
}

@font-face{
  font-family: Gruppo;
  src:url("/fonts/Gruppo-Regular.ttf");
}

@font-face{
  font-family: JosefinSans;
  src:url("/fonts/JosefinSans-Regular.ttf");
}

@font-face{
  font-family: JosefinSlab;
  src:url("/fonts/JosefinSlab-Regular.ttf");
}

@font-face{
  font-family: Macondo;
  src:url("/fonts/Macondo-Regular.ttf");
}

@font-face{
  font-family: Philosopher;
  src:url("/fonts/Philosopher-Regular.ttf");
}

@font-face{
  font-family: Marcellus;
  src:url("/fonts/Marcellus-Regular.ttf");
}

@font-face{
  font-family: SpecialElite;
  src:url("/fonts/SpecialElite-Regular.ttf");
}
