:root{
	--screen-size-phone: 600px;
	--screen-size-tablet: 768px;
	--screen-size-desktop: 992px;
	--screen-size-tv: 1200px;

	--z-minus: -1;
	--z-body: 1;
	--z-footer: 2;
	--z-main: 3;
	--z-header: 4;
	--z-menuHamburgerButton: 5;
	--z-layers: 6;
	--z-cover: 7;
	--z-modal: 8;
	--z-menu: 9;
	--z-tooltip: 10; /* Will move to css anchor positioning */
	--z-toasts: 11;
	--z-loading: 12;
	--z-urgent: 13;

	--header-height: 2rem;
	--footer-height: 2rem;
	--menu-width: 300px;

	--color-cover: rgba(0, 0, 0, 0.6);
}

body{
	font-family: Quicksand;
	padding-top: var(--header-height);

	& > main{
		width: 100vw;
		min-height: calc(100dvh - var(--header-height));

		opacity: 0;
		transform: translateY(20px);

		&.show{
			transition: calc(var(--transition-velocity) * 2) ease-in-out;
			transition-property: opacity, transform;

			opacity: 1;
			transform: translateY(0px);
		}
	}

	& > footer{
		background-color: var(--color-main-tint-4);

		color: var(--color-text-primary);
		font-size: 0.7rem;

		width: 100%;
		height: var(--footer-height);
		padding: var(--padding);

		display: grid;
		place-items: center;

		&.hide{
			display: none;
		}
	}

	& > header{
		background-color: var(--color-main);
		color: white;
		/* NOTE: We need to make header text color dynamic. We use contrast-color(). This feature is coming soon. */

		width: 100%;
		height: var(--header-height);
		padding: var(--padding);

		position: fixed;
		top: 0px;
		left: 0px;
		z-index: var(--z-header);

		display: grid;
		place-items: center;

		&.hide{
			display: none;
		}
	}

	/* If header is empty */
	&:has(header:empty){
		padding-top: 0px;

		& > header{
			display: none;
		}

		& > main{
			min-height: 100dvh;
		}
	}

	& > x-svg{
		&[for=showMenu]{
			position: fixed;
			z-index: var(--z-menuHamburgerButton);

			top: calc(var(--header-height)/4 - var(--padding)/2);
			left: var(--padding);
		}
	}

	& > menu{
		font-size: 1.2rem;

		background-color: hsla(var(--color-main-hue), 10%, 25%, 0.1);
		backdrop-filter: blur(100px);
		-webkit-backdrop-filter: blur(100px);
		height: 100dvh;
		width: var(--menu-width);

		overflow-y: scroll;

		display: grid;
		grid-template-rows: auto 2fr auto;
		justify-items: start;

		position: fixed;
		z-index: var(--z-menu);
		top: 0;
		left: 0;
		transform: translateX(-100%);
		transition-duration: var(--transition-velocity);
		transition-timing-function: ease;
		transition-property: transform;

		&.show{transform: translateX(0px);}

		&.alwaysOpenMode{
			@media (width > 600px){
				transform: translateX(0px);
				background-color: hsla(var(--color-main-hue), 10%, 20%, 1);
			}
		}

		& > header{
			width: 100%;
			padding: calc(var(--padding) * 2);

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			& > x-svg{
				&[for=menuCloseButtonMobile]{
					display: none;

					@media (width <= 600px){
						display: block;
					}
				}
			}
		}

		& > main{
			width: 100%;
			padding: calc(var(--padding) * 2);
			overflow-y: scroll;

			display: flex;
			flex-direction: column;

			& section{
				&.container{
					display: flex;
					flex-direction: column;
					margin-top: var(--padding);

					& > section{
						&.parentMenu{
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							border: 1px solid transparent;
							border-radius: var(--radius);
							padding: var(--padding) calc(var(--padding) * 2.5);

							transition: var(--transition-velocity) ease-in-out;
							transition-property: background-color, border;

							&:where([active], :hover){background-color: hsla(var(--color-main-hue), 10%, 25%, 0.3);}

							&:where([active]){border: 1px solid white;}

							& > a{
								width: 100%;
								display: flex;
								flex-direction: row;
								align-items: center;
								gap: var(--gap);

								color: white;
								font-size: 1em;
							}

							& > x-svg{
								&[for=toggleSubMenu]{
									transition: var(--transition-velocity) ease-in-out transform;
									transform: rotate(90deg);
									&.open{transform: rotate(0deg);}
								}
							}
						}

						&.subMenu{
							font-size: 0.94em;

							display: none;

							background-color: hsla(var(--color-main-hue), 10%, 25%, 0.2);

							margin-top: 5px;
							padding: calc(var(--padding) * 2);
							border-radius: var(--radius);

							&:empty{display: none;}

							&.show{display: block;}
						}

						/* If submenu is empty do not show arrow icon */
						&:has(+ .subMenu:empty) > x-svg[for=toggleSubMenu]{display: none;}
					}
				}
			}
		}

		& > footer{}

		@media (width <= 600px){
			width: 100vw;

			& > header{
				& > x-svg[for=toggleAlwaysOpenMode]{display: none;}
			}
		}
	}

	/* If menu is on always open mode */
	&:has(menu.alwaysOpenMode){
		& > main, & > header, & > footer{
			@media (width > 600px){
				width: calc(100% - var(--menu-width));
				margin-left: var(--menu-width);
			}
		}
	}

	& > layers{}

	& > cover{
		pointer-events:auto;

		background: var(--color-cover);
		backdrop-filter: blur(var(--blur));
		-webkit-backdrop-filter: blur(var(--blur));
		opacity: 0;
		width: 100vw;
		height: 100vh;

		position: fixed;
		top: 0px;
		left: 0px;
		z-index: var(--z-minus);

		transition: var(--transition-velocity) opacity;
	}

	& > modal{
		pointer-events: none;

		opacity: 0;

		background-color: var(--color-main-tint-4);

		min-width: 40px;
		border: 0px;
		border-radius: var(--radius);
		box-shadow: var(--shadow);

		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.8);
		z-index: var(--z-modal);

		transition: var(--transition-velocity) ease-in-out;
		transition-property: transform, opacity;

		&.show{
			pointer-events: all;
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}

		& > x-svg{
			position: fixed;
			top: 5px;
			right: 5px;
		}

		& > main{
			width: auto;
			max-width: 80vw;

			height: auto;
			max-height: 80vh;

			overflow: hidden;
			overflow-y: scroll;

			padding: var(--padding);
			padding-top: 2rem;

			display: grid;
			place-items: center;

			@media (width <= 600px){
				max-width: 90dvw;
				max-height: 90dvh;
			}
		}
	}

	& > toasts{
		height: auto;
		max-height: 100vh;
		width: 400px;
		padding: var(--padding);
		padding-bottom: calc(var(--padding) * 4);

		overflow-x: hidden;
		overflow-y: scroll;

		display: flex;
		flex-direction: column-reverse;
		gap: var(--gap);

		position: fixed;
		top: 0px;
		right: 0px;
		z-index: var(--z-toasts);

		&:empty{
		padding: 0px;
		}

	}
}

@media (width <= 600px){
	body{
		& > toasts{
			width: 100vw;
			gap: 5px;
		}

		& > main {
			height: calc(100dvh - var(--header-height));
			overflow: scroll;
		}
	}
}

@layer observerEffects{
	.observe{
		--duration: 500ms;
		--timing-function: ease-in-out;;
		--delay: 250ms;

		transition-duration: var(--duration);
		transition-timing-function: var(--timing-function);
		transition-delay: var(--delay);
		transition-property: opacity transform;

		&.fadeIn{
			opacity: 0;

			&.observed {
				opacity: 1;
			}
		}

		&.slideFromLeft{
			transform: translateX(-100px);

			&.observed {
				transform: translateX(0);
			}
		}

		&.slideFromRight{
			transform: translateX(100px);

			&.observed {
				transform: translateX(0);
			}
		}

		&.slideFromTop{
			transform: translateY(-100px);

			&.observed {
				transform: translateX(0);
			}
		}

		&.slideFromBottom{
			transform: translateY(100px);

			&.observed {
				transform: translateX(0);
			}
		}

		&.scaleUp{
			transform: scale(0.8);

			&.observed {
				transform: scale(1);
			}
		}

		&.scaleDown{
			transform: scale(1.5);

			&.observed {
				transform: scale(1);
			}
		}
	}
}
