:root{
  --screen-size-phone: 600px;
  --screen-size-tablet: 768px;
  --screen-size-desktop: 992px;
  --screen-size-tv: 1200px;

  --z-minus: -1;
  --z-body: 1;
  --z-footer: 2;
  --z-main: 3;
  --z-boxes: 4;
  --z-nav: 5;
  --z-header: 6;
  --z-menuHamburgerButton: 7;
  --z-cover: 8;
  --z-modal: 9;
  --z-menu: 10;
  --z-tooltip: 11; /* Will move to css anchor positioning */
  --z-toasts: 12;
  --z-loading: 13;
  --z-urgent: 14;

  --header-height: 40px;
  --footer-height: 40px;

  --color-cover: rgba(0, 0, 0, 0.6);
}

body{
  font-family: Quicksand;
  padding-top: var(--header-height);

	& > loading{
		background-color: var(--color-main-tint-1);

		width: 100vw;
		height: 100vh;

		position: fixed;
		left: 0px;
		top: 0px;
		z-index: var(--z-loading);

		transition: var(--transition-velocity) opacity ease-in-out;

		&::after{
		content: '';
		background-color: transparent;
		height: 20vh;
		width: 20vh;
		border-radius: 100%;
		border: 0px solid transparent;
		border-right: 2px solid var(--color-text-primary);

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;

		animation: loading 1000ms infinite linear;

		}

	}

	& > toasts{
		height: auto;
		max-height: 100vh;
		width: 400px;
		padding: var(--padding);
		padding-bottom: calc(var(--padding) * 4);

		overflow-x: hidden;
		overflow-y: scroll;

		display: flex;
		flex-direction: column-reverse;
		gap: var(--gap);

		position: fixed;
		top: 0px;
		right: 0px;
		z-index: var(--z-toasts);

		&:empty{
		padding: 0px;
		}

	}

	& > modal{
		pointer-events: none;

		opacity: 0;

		background-color: var(--color-main-tint-4);

		min-width: 40px;
		border: 0px;
		border-radius: var(--radius);
		box-shadow: var(--shadow);

		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.8);
		z-index: var(--z-modal);

		transition: var(--transition-velocity) ease-in-out;
		transition-property: transform, opacity;

		&.show{
			pointer-events: all;
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}

		& > x-icon{
			width: 30px;
			height: 30px;

			padding: 2px;

			position: fixed;
			top: 5px;
			right: 5px;
		}

		& > main{
			width: auto;
			max-width: 80vw;

			height: auto;
			max-height: 80vh;

			overflow: hidden;
			overflow-y: scroll;

			padding: var(--padding);
			padding-top: 40px;

			display: grid;
			place-items: center;

			@media (width <= 600px){
				max-width: 90dvw;
				max-height: 90dvh;
			}
		}
	}

	& > x-icon{
		&[for=menu]{
		--menu-icon-size: calc(var(--header-height) - var(--padding) * 2);

		height: var(--menu-icon-size);
		width: var(--menu-icon-size);

		position: fixed;
		z-index: var(--z-menuHamburgerButton);
		top: var(--padding);
		left: var(--padding);
		}
	}

	& > menu{
		background-color: hsla(var(--color-main-hue), 10%, 25%, 0.1);
		backdrop-filter: blur(100px);
		height: 100vh;
		width: auto;

		overflow-y: scroll;

		display: grid;
		grid-template-rows: auto 2fr auto;
		justify-items: start;
		gap: var(--gap);

		position: fixed;
		z-index: var(--z-menu);
		top: 0;
		left: 0;
		transform: translate(-100%, 0px);
		transition-duration: var(--transition-velocity);
		transition-timing-function: ease;
		transition-property: all;

		&.show{
			transform: translate(0px, 0px);
		}

		& > header{
			width: 100%;
			padding: calc(var(--padding) * 2);

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			& > x-icon{
				&[for=closeMenuInMobile]{
					display: none;

					@media (width <= 600px){
						display: block;
					}
				}
			}
		}

		& > main{
			width: 100%;
			padding: calc(var(--padding) * 2);

			display: flex;
			flex-direction: column;
			gap: calc(var(--gap) / 2);

			& section{
				&.container{
					display: flex;
					flex-direction: column;

					& > section{
						&.parentMenu{
							display: flex;
							flex-direction: row;
							justify-content: space-between;

							border: 1px solid transparent;
							border-radius: var(--radius);
							padding: var(--padding) calc(var(--padding) * 2);

							transition: var(--transition-velocity) ease-in-out;
							transition-property: background-color, border;

							&:where([active], :hover){background-color: hsla(var(--color-main-hue), 10%, 25%, 0.3);}

							&:where([active]){border: 1px solid white;}

							& > a{
								width: 100%;
								display: flex;
								flex-direction: row;
								align-items: center;
								gap: var(--gap);

								color: white;
								font-size: 1rem;
							}

							& > x-icon{
								&[for=toggleSubMenu]{
									height: 30px;
									width: 30px;

									transition: var(--transition-velocity) ease-in-out transform;

									transform: rotate(90deg);

									&.open{transform: rotate(0deg);}
								}
							}
						}

						&.subMenu{
							display: none;

							background-color: hsla(var(--color-main-hue), 10%, 25%, 0.2);

							margin-top: 5px;
							padding: calc(var(--padding) * 2);
							border-radius: var(--radius);

							&:empty{display: none;}

							&.show{display: block;}
						}

						/* If submenu is empty do not show arrow icon */
						&:has(+ .subMenu:empty) > x-icon[for=toggleSubMenu]{display: none;}
					}
				}
			}
		}

		& > footer{}

		@media (width <= 600px){
			width: 100vw;

			& > header{
				& > x-icon[for=toggleAlwaysOpenMode]{display: none;}
			}
		}
	}

	& > cover{
		pointer-events:auto;

		background: var(--color-cover);
		backdrop-filter: blur(var(--blur));
		opacity: 0;
		width: 100vw;
		height: 100vh;

		position: fixed;
		top: 0px;
		left: 0px;
		z-index: var(--z-minus);

		transition: var(--transition-velocity) opacity;
	}

	& > header{
		background-color: var(--color-main);
		color: white;
		/* NOTE: We need to make header text color dynamic. We use contrast-color(). This feature is coming soon. */

		width: 100%;
		height: var(--header-height);
		padding: var(--padding);
		padding-left: var(--header-height);

		position: fixed;
		top: 0px;
		left: 0px;
		z-index: var(--z-header);

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&.hide{
			display: none;
		}
	}

  /* If header is empty */
  &:has(header:empty){
    padding-top: 0px;

    & > header{
      display: none;
    }
  }

  & > main{
    width: 100vw;
    min-height: calc(100dvh - var(--header-height));
  }

  & > footer{
    background-color: var(--color-main-tint-4);

    color: var(--color-text-primary);
    font-size: 0.7rem;

    width: 100%;
    height: var(--footer-height);
    padding: var(--padding);

    display: grid;
    place-items: center;

    &.hide{
      display: none;
    }
  }
}

@keyframes loading{
	0%{transform: translate(-50%, -50%) rotate(0deg);}
	100%{transform: translate(-50%, -50%) rotate(720deg);}
}

@media (width <= 600px){
	body{
		& > toasts{
			width: 100vw;
			gap: 5px;
		}

		& > main {
			width: 100vw;
			height: calc(100dvh - var(--header-height));
			overflow: scroll;
		}
	}
}
