:root{
  --screen-size-phone: 600px;
  --screen-size-tablet: 768px;
  --screen-size-desktop: 992px;
  --screen-size-tv: 1200px;

  --z-minus: -1;
  --z-body: 1;
  --z-footer: 2;
  --z-main: 3;
  --z-boxes: 4;
  --z-nav: 5;
  --z-header: 6;
  --z-cover: 7;
  --z-modal: 8;
  --z-menu: 9;
  --z-tooltip: 10;
  --z-toasts: 11;
  --z-loading: 12;
  --z-urgent: 13;

  --header-height: 40px;
  --footer-height: 80px;

  --color-cover: rgba(0, 0, 0, 0.6);
}

body{
  font-family: Quicksand;
  padding-top: var(--header-height);

  & > loading{
    background-color: var(--color-surface-1);

    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: var(--z-loading);

    transition: var(--transition-velocity) opacity ease-in-out;

    &::after{
      content: '';
      background-color: transparent;
      height: 20vh;
      width: 20vh;
      border-radius: 100%;
      border: 0px solid transparent;
      border-right: 2px solid var(--color-text-primary);

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;

      animation: loading 1000ms infinite linear;

    }

  }

  & > toasts{
    height: auto;
    max-height: 100vh;
    width: 400px;
    padding: var(--padding);
    padding-bottom: calc(var(--padding) * 4);

    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: var(--z-toasts);

    &:empty{
      padding: 0px;
    }

  }

  & > menu{
    background-color: hsla(var(--color-main-hue), 10%, 25%, 0.1);
    backdrop-filter: blur(100px);
    height: 100vh;
    width: auto;

    overflow-y: scroll;

    display: grid;
    grid-template-rows: auto 2fr auto;
    justify-items: start;
    gap: var(--gap);

    position: fixed;
    z-index: var(--z-menu);
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition-duration: var(--transition-velocity);
    transition-timing-function: ease;
    transition-property: all;

    & > header{
      width: 100%;

      padding: calc(var(--padding) * 2);

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > div{
        width: 30px;
        height: 30px;
      }

    }

    & > main{
      width: 100%;
      padding: calc(var(--padding) * 2);

      display: flex;
      flex-direction: column;
      gap: calc(var(--gap) / 2);

      & > section{
        & > section{
          &.parentMenu{
            display: grid;
            grid-template-columns: 2fr auto;
            place-items: center;

            border: 1px solid transparent;
            border-radius: var(--radius);
            padding: var(--padding) calc(var(--padding) * 2);

            transition: var(--transition-velocity) ease-in-out;
            transition-property: background-color, border;

            &:where([active], :hover){
              background-color: hsla(var(--color-main-hue), 10%, 25%, 0.3);

            }

            &:where([active]){
              border: 1px solid white;

            }

            & > a{
              width: 100%;

              color: white;
              font-size: 1rem;

              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: var(--gap);

              & > x-icon{
                height: 30px;
                width: 30px;

              }

            }

            & > x-icon{
              &[for=toggleSubMenu]{
                height: 30px;
                width: 30px;

                transition: var(--transition-velocity) ease-in-out transform;

              }

              &[for=toggleSubMenu].open{
                transform: scaleY(-1);
              }

            }

          }

        }

        & > section{
          &.subMenu{
            background-color: hsla(var(--color-main-hue), 10%, 25%, 0.3);

            margin-top: 5px;
            padding: calc(var(--padding) * 2);
            border-radius: var(--radius);

            display: none;
            flex-direction: column;
            gap: calc(var(--gap) / 2);

            &.show{
              display: flex;
            }

            &:empty{
              display: none;
            }

            & > a{
              width: 100%;

              color: white;
              font-size: 0.8rem;

              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 7px;

              border: 1px solid transparent;
              border-radius: var(--radius);
              padding: var(--padding) calc(var(--padding) * 2);

              transition: var(--transition-velocity) ease-in-out;
              transition-property: background-color, border;

              &:where([active], :hover){
                background-color: hsla(var(--color-main-hue), 10%, 25%, 0.3);

              }

              &:where([active]){
                border: 1px solid white;

              }

              & > x-icon{
                height: 25px;
                width: 25px;

              }

            }

          }

        }

      }

    }

    & > footer{}

  }

  & > cover{
    pointer-events:auto;

    background: var(--color-cover);
    backdrop-filter: blur(var(--blur));
    opacity: 0;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--z-minus);

    transition: var(--transition-velocity) opacity;

  }

  & > header{
    background-color: var(--color-main);
    color: white;

    width: 100%;
    height: var(--header-height);
    padding: var(--padding);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--z-header);

    display: grid;
    grid-template-columns: auto 3fr;

    place-items: center;

    & > x-icon{
      &[for=menu]{
        height: calc(var(--header-height) - var(--padding) * 2);
        width: calc(var(--header-height) - var(--padding) * 2);

      }

    }

  }

  & > main{
    width: 100vw;
    min-height: calc(100vh - var(--header-height));
  }

  & > footer{
    background-color: var(--color-surface-2);

    color: var(--color-text-primary);
    font-size: 0.7rem;

    width: 100%;
    height: var(--footer-height);
    padding: var(--padding);

    display: grid;
    place-items: center;

    &.hide{
      display: none;
    }

  }

}

@keyframes loading{
  0%{transform: translate(-50%, -50%) rotate(0deg);}
  100%{transform: translate(-50%, -50%) rotate(720deg);}

}

@media only screen and (max-width: 600px) {
  :root{
    font-size: 16px;
  }

  html, body{
    height: 100dvh;
    overflow: hidden;
  }

  body{
    overflow-y: scroll;

    & > toasts{
      width: 100vw;
      gap: 5px;
    }

    & > main {
      width: 100vw;
      height: calc(100dvh - var(--header-height));
      overflow: hidden;
      overflow-y: scroll;
    }
  }

}
