/****************************** Form START ******************************/

/************ Form START ************/
:root{
  --f-padding: 10px;
  --f-radius: 5px;
  --f-gap: 10px;
  --f-height: 40px;
  --f-width: 100%;
  --f-font-size: 20px;
  --f-border: 1px solid var(--color-text-secondary);
  --f-transition: var(--transition-velocity) ease-in-out;
  --f-transition-property: background-color, border;

}


form{
  width: var(--f-width);

  display: grid;
  grid-gap: var(--f-gap);

}
/************ Form END ************/

/************ Autofill START ************/
/* input:-webkit-autofill */
/* -webkit-text-fill-color: yellow !important; */

input:-webkit-autofill,
input:autofill{
  /* background-color: red !important; */
  /* -webkit-text-fill-color: red !important; */
}
/************ Autofill END ************/

/************ fieldset START ************/
form fieldset{
  padding: var(--f-padding);
  border-radius: var(--f-radius);
  border: var(--f-border);

  display: flex;
  flex-direction: column;
  gap: var(--f-gap);

}
/************ fieldset END ************/

/************ fieldset > legend START ************/
form fieldset legend{
  background-color: var(--color-text-primary);
  color: var(--color-text-accent);
  border-radius: var(--f-radius);
  padding: 2px 5px;

}
/************ fieldset > legend END ************/

/************ label START ************/
form label{
}
/************ label START ************/

/************ label > p START ************/
form label > p{
  height: 1.5em;
}
/************ label > p START ************/

/************ select, textarea, imput -> type = [text, password, eMail, number, color, file, date] START ************/
select,
textarea,
input:where([type=text], [type=eMail], [type=password], [type=number], [type=color], [type=file], [type=date]){
  background-color: var(--color-surface-3);
  width: var(--f-width);
  height: var(--f-height);
  font-size: var(--f-font-size);
  padding: 0 var(--f-padding);
  border-radius: var(--f-radius);
  border: var(--f-border);

  transition: var(--f-transition);
  transition-property: var(--f-transition-property);

}
/************ select, textarea, imput -> type = [text, password, eMail, number, color, file, date] END ************/

/************ :hover & :focus -> inputs & textarea & select START ************/
select:not(:disabled):where(:hover, :focus),
textarea:not(:disabled):where(:hover, :focus),
input[type=number]:not(:disabled):where(:hover, :focus),
input:not(:disabled):where(:hover, :focus){
  background-color: var(--color-surface-5);
  border: 1px solid var(--color-text-primary);

}
/************ :hover & :focus -> inputs & textarea & select END ************/

/************ Textarea START ************/
textarea{
  height: unset;
  font-size: calc(var(--f-font-size) / 1.5);
  min-height: 300px;
  resize: vertical;
  padding: var(--f-padding);

}
/************ Textarea END ************/

/************ input[type=color] START ************/
/* form input[type=color]{-webkit-appearance: none;} */

/* Chrome X */
input[type=color]::-webkit-color-swatch-wrapper{
  padding: 5px;
  width: var(--f-width);

}

/* Chrome Y */
input[type=color]::-webkit-color-swatch{
  border: none;
  border-radius: var(--f-radius);
  height: 100%;

}

/* Firefox X */
input[type=color]::-moz-color-swatch-wrapper {
  padding: 5px;
  width: var(--f-width);

}

/* Firefox Y */
input[type=color]::-moz-color-swatch{
  border: none;
  border-radius: var(--f-radius);
  height: 100%;

}
/************ input[type=color] END ************/

/************ input[type=file] START ************/

/* Input */
input[type=file]{
  padding: var(--padding);
  font-size: var(--f-font-size);

}

/* File Button */
input[type=file]::file-selector-button{
  background-color: var(--color-main);
  color: white;
  font-size: var(--f-font-size);

  padding: 3px 10px;

  border: none;
  border-radius: var(--f-radius);

  cursor: pointer;

  filter: brightness(120%);
  transition: var(--transition-velocity) filter;

}

/* File Button :hover */
input[type=file]::file-selector-button:not(:disabled):hover{
  filter: brightness(80%);

}
/************ input[type=file] END ************/

/************ input[type=number] Hide Arrow START ************/
/* Firefox */
input[type=number]{-moz-appearance: textfield;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance: none;}
/************ input[type=number] END ************/

/************ input[type=radio] & input[type=checkbox] START ************/
input:where([type=radio], [type=checkbox]){
  width: 20px;
  height: auto;

}
/************ input[type=radio] & input[type=checkbox] END ************/

/************ select hide arrow START ************/
/* form :not(input:where([type=radio], [type=checkbox])), */
select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}
/************ select hide arrow END ************/

/************ input[type=submit] & button START ************/
button,
input[type=submit]{
  background-color: var(--color-main);
  color: white;
  overflow: hidden;
  width: auto;
  height: var(--f-height);
  padding: 0px var(--f-padding);
  border-radius: var(--f-radius);
  border: none;
  text-transform: uppercase;

  cursor: pointer;

  filter: brightness(120%);
  transition: var(--transition-velocity) filter;

}

button:not(:disabled):where(:active, :focus, :hover),
input[type=submit]:not(:disabled):where(:active, :focus, :hover){
  filter: brightness(80%);
}

/************ input[type=submit] & button END ************/

/****************************** Form END ******************************/

/****************************** Disabled START ******************************/
*:disabled,
input[type=submit]:disabled,
input[type=file]:disabled::file-selector-button{
  cursor: not-allowed;
  opacity: 0.5;

}
/****************************** Disabled END ******************************/


/****************************** Table START ******************************/

/************ Table START ************/
table{
  --table-radius: 3px;

  /* make table cells with same */
  table-layout: fixed;

  width: 100%;
  border: 1px solid var(--color-main);
  border-radius: var(--radius);
  padding: var(--padding);

}
/************ Table END ************/

/************ thead START ************/
table > thead{
  background-color: var(--color-surface-10);
}

table > thead > tr > th{
  color: var(--color-text-accent);
  font-weight: bold;

  border-radius: var(--table-radius);
  padding: var(--padding);

}
/************ thead END ************/

/************ tbody START ************/
table > tbody > tr:nth-child(odd){
  background-color: var(--color-surface-3);

}
table > tbody > tr:nth-child(even){
  background-color: var(--color-surface-4);

}

table > tbody > tr > td{
  border-radius: var(--table-radius);
  padding: var(--padding);

}

/* tr:hover START */
table > tbody > tr{
  transition: var(--transition-velocity) ease-in-out background-color;
}

table > tbody > tr:hover{
  background-color: var(--color-surface-7);
}
/* tr:hover END */

/************ tbody END ************/

/************ tfead START ************/
table > tfoot{
  background-color: var(--color-surface-9);
}

table > tfoot > tr > td{
  color: var(--color-text-accent);

  border-radius: var(--table-radius);
  padding: var(--padding);

}
/************ tfoot END ************/

/****************************** Table END ******************************/


/****************************** SVG START ******************************/
svg{
  cursor: pointer;
}
/****************************** SVG END ******************************/


/****************************** hr START ******************************/
hr{
  border:none;
  border-top:1px solid var(--color-text-secondary);
}
/****************************** hr END ******************************/


/****************************** a START ******************************/
a{
  color:var(--color-text-secondary);
  cursor: pointer;
}
a:where(:active, :focus, :hover){
  color:var(--color-text-primary);
}
/****************************** a END ******************************/


/****************************** Info, Success, Warning, Error START ******************************/

info{
  color:var(--color-info);
}
info::before{
  content:"\2139";
}

success{
  color:var(--color-success);
}
success::before{
  content:"\2713";
}

warning{
  color:var(--color-warning);
}
warning::before{
  content:"\26A0";
}

error{
  color:var(--color-error);
}
error::before{
  content: "\2715";
}

info::before,
success::before,
warning::before,
error::before{
  margin-right:5px;
}

success:empty,
warning:empty,
error:empty{
  display:none;
}

/****************************** Info, Success, Warning, Error END ******************************/
