x-select{
  & > button{
    width: 100%;
    margin-bottom: calc(var(--padding) * 2);
  }

  & > main{
    background-color: var(--color-main-tint-1);
    width: 100%;
    padding: var(--padding);
    border-radius: var(--radius);

    display: none;
    flex-direction: column;
    gap: calc(var(--gap) / 2);

    &.show{
      display: flex;
    }

    & > section{
      background-color: var(--color-main-tint-2);
      padding: var(--padding);
      border-radius: var(--radius);

      &#optionsSelected{
        display: none;
        flex-wrap: wrap;
        flex-direction: row;
        gap: calc(var(--gap) / 2);

        &.show{
          display: flex;
        }

        & > div{
          cursor: pointer;
          display: none;
          background-color: var(--color-main-tint-3);
          width: auto;
          height: auto;
          padding: var(--padding);
          border-radius: var(--radius);
          transition: var(--transition-velocity) ease-in-out background-color;

          &:hover{
            user-select: none;
            background-color: var(--color-main-tint-4);
          }
        }
      }

      &#search{
      }

      &#optionsToSelect{
        max-height: 250px;
        overflow: scroll;

        display: flex;
        flex-direction: column;
        gap: calc(var(--gap) / 2);

        &.hide{
          display: none;
        }

        & > div{
          cursor: pointer;
          background-color: var(--color-main-tint-3);
          width: auto;
          height: auto;
          padding: var(--padding);
          border-radius: var(--radius);
          transition: var(--transition-velocity) ease-in-out background-color;

          &:hover{
            user-select: none;
            background-color: var(--color-main-tint-4);
          }
        }
      }
    }
  }
}

x-nav{
  --icon-subNav-size: 30px;
  --height: 100%;
  --width: 100%;
  --color-hsl: var(--color-main-hue) var(--color-main-saturation) var(--color-main-lightness);

  width: var(--width);
  height: var(--height);

  & > nav{
    height: var(--height);

    /* Removing the firts padding left on divs */
    & > div{
      padding-left: var(--padding) !important;
    }

    & div{
      & x-icon{
        height: var(--icon-subNav-size);
        width: var(--icon-subNav-size);

        transform: rotate(-90deg);

        transition: var(--transition-velocity) ease-in-out transform;

        &.open{
          transform: rotate(0deg);
        }
      }

      & section{
        &[for=link]{
          display: grid;
          grid-template-columns: var(--icon-subNav-size) 1fr;
          align-items: center;
        }

        &[for=subNav]{
          background-color: hsla(var(--color-hsl) / 0.2);
          display: none;

          &.show{
            display: flex;
          }
        }
      }
    }

    & a{
      color: var(--color-text-secondary);
      font-size: 0.7rem;

      width: 100%;
      min-width: max-content;
      padding: var(--padding);
      border-radius: var(--radius);

      transition: var(--transition-velocity) ease-in-out;
      transition-property: background-color, color;

      &:hover{
        color: var(--color-text-primary);
        background-color: hsla(var(--color-hsl) / 0.2);
      }

      &.active{
        color: var(--color-text-primary);
        background-color: hsla(var(--color-hsl) / 0.5);
      }
    }
  }
}

x-modal{
	& > dialog{
		pointer-events: none;

		overflow: visible;
		opacity: 0;

		background-color: var(--color-main-tint-4);

		border: 0px;
		border-radius: var(--radius);
		box-shadow: var(--shadow);

		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.8);

		transition: var(--transition-velocity) ease-in-out;
		transition-property: transform, opacity;

		&::backdrop{
			/* No access to css variables inside ::backdrop */
			transition: 200ms ease-in-out;
			transition-property: opacity;

			opacity: 0;
			background-color: rgba(0, 0, 0, 0.6);
			backdrop-filter: blur(10px);
		}

		&[opening]{
			pointer-events: all;

			opacity: 1;
			transform: translate(-50%, -50%) scale(1);

			&::backdrop{
				opacity: 1;
			}
		}

		& > header{
			width: 100%;
			height: auto;

			box-shadow: var(--shadow);

			& > div{
				text-align: left;

				width: 100%;
				height: 100%;

				background-color: var(--color-main-tint-2);
				border-radius: var(--radius) var(--radius) 0px 0px;
				padding: 5px;

				&:empty{
					background-color: transparent;
				}
			}

			& > button{
				width: 35px !important;
				height: 35px !important;

				padding: 5px;

				border-radius: 50%;
				position: absolute;
				top: -15px;
				right: -15px;
			}
		}

		& > main{
			width: auto;
			max-width: 80vw;

			height: auto;
			max-height: 80vh;

			overflow: hidden;
			overflow-y: scroll;

			padding: var(--padding);
			padding-top: 15px;

			display: grid;
			place-items: center;
		}

		/* @media only screen and (max-width: 600px){
			width: 95vw;
			min-height: 50vh;
			max-height: 90vh;

			transform: translate(-50%, 100%) scale(1);

			&[opening]{
				transform: translate(-50%, calc(50vh - calc(100% + 20px))) scale(1);
			}
		} */
	}

	& > trigger{
		cursor: pointer;

		&:empty{
			pointer-events: none;
		}
	}
}

x-share{
  & > share{
    width: 50px;
    height: 50px;
  }
}

x-tooltip{
  & > content{
    pointer-events: none;

    display: block;
    opacity: 0;
    background-color: hsla(var(--color-main-hue), 10%, 10%, 1);
    color: white;
    font-size: 0.7rem;

    max-width: 40vw;
    width: max-content;
    height: max-content;

    padding: var(--padding);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    position: absolute;
    z-index: var(--z-tooltip);

    transition: var(--transition-velocity) ease-in-out;
    transition-property: opacity;

    &.show{
      pointer-events: all;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px){
  x-nav{
    position: fixed;
    z-index: var(--z-nav);
    top: calc(var(--header-height) + var(--padding));

    & > nav{
      max-width: calc(100vw - var(--padding) * 2);

      flex-direction: row;
      gap: calc(var(--gap) / 4);

      & > a{
        box-shadow: none !important;
      }
    }
  }
}
