/* v0.8.0.1 */

@layer XUI{
	@layer root{
		html{
			&:root{
				font-size: 22px;

				/* Default color schema starts with dark mode */
				--color-main-hue: 230deg;
				--color-main-saturation: 13%;
				--color-main-lightness: 9%;

				--color-main: hsla(var(--color-main-hue), var(--color-main-saturation), var(--color-main-lightness), 1);

				/* Aliases */
				--color-brand: var(--color-main);

				--color-main-dark: hsla(var(--color-main-hue), var(--color-main-saturation), 5%, 1);
				--color-main-light: hsla(var(--color-main-hue), var(--color-main-saturation), 95%, 1);

				--color-main-accent: hsla(var(--color-main-hue), var(--color-main-saturation), 5%, 1);

				/*
					- Tint, shade and tone
					In color theory, a tint is a mixture of a color with white, which increases lightness, while a shade is a mixture with black, which increases darkness.
					Both processes affect the resulting color mixture's relative saturation.
					A tone is produced either by mixing a color with gray, or by both tinting and shading.
				*/
				--color-main-tint-1: hsla(var(--color-main-hue), 10%, 10%, 1);
				--color-main-tint-2: hsla(var(--color-main-hue), 10%, 15%, 1);
				--color-main-tint-3: hsla(var(--color-main-hue), 10%, 20%, 1);
				--color-main-tint-4: hsla(var(--color-main-hue), 10%, 25%, 1);
				--color-main-tint-5: hsla(var(--color-main-hue), 10%, 30%, 1);
				--color-main-tint-6: hsla(var(--color-main-hue), 10%, 35%, 1);
				--color-main-tint-7: hsla(var(--color-main-hue), 10%, 50%, 1);
				--color-main-tint-8: hsla(var(--color-main-hue), 10%, 65%, 1);
				--color-main-tint-9: hsla(var(--color-main-hue), 10%, 80%, 1);
				--color-main-tint-10: hsla(var(--color-main-hue), 10%, 95%, 1);

				--color-text-primary: hsla(var(--color-main-hue), 15%, 95%, 1);
				--color-text-secondary: hsla(var(--color-main-hue), 5%, 75%, 1);
				--color-text-accent: var(--color-main-accent);

				/* Situational */
				--color-success-hue: 120deg;
				--color-success-saturation: 100%;
				--color-success-lightness: 25%;
				--color-success: hsla(var(--color-success-hue), var(--color-success-saturation), var(--color-success-lightness), 1);

				--color-info-hue: 211.059deg;
				--color-info-saturation: 100%;
				--color-info-lightness: 50%;
				--color-info: hsla(var(--color-info-hue), var(--color-info-saturation), var(--color-info-lightness), 1);

				--color-warning-hue: 46.286deg;
				--color-warning-saturation: 100%;
				--color-warning-lightness: 48%;
				--color-warning: hsla(var(--color-warning-hue), var(--color-warning-saturation), var(--color-warning-lightness), 1);

				--color-error-hue: 357.303deg;
				--color-error-saturation: 82%;
				--color-error-lightness: 57%;
				--color-error: hsla(var(--color-error-hue), var(--color-error-saturation), var(--color-error-lightness), 1);

				color-scheme: dark;
				accent-color: var(--color-main);

				--padding: 5px;
				--margin: 5px;
				--gap: 20px;
				--radius: 5px;
				--blur: 10px;
				--transition-velocity: 200ms;
				--shadow: 0px 10px 10px -5px hsla(var(--color-main-hue) 50% 3% / 0.3);
			}

			&.dark{
				&:root{
					color-scheme: dark;

					--color-main-accent: hsla(var(--color-main-hue), var(--color-main-saturation), 5%, 1);

					--color-main-tint-1: hsla(var(--color-main-hue), 10%, 10%, 1);
					--color-main-tint-2: hsla(var(--color-main-hue), 10%, 15%, 1);
					--color-main-tint-3: hsla(var(--color-main-hue), 10%, 20%, 1);
					--color-main-tint-4: hsla(var(--color-main-hue), 10%, 25%, 1);
					--color-main-tint-5: hsla(var(--color-main-hue), 10%, 30%, 1);
					--color-main-tint-6: hsla(var(--color-main-hue), 10%, 35%, 1);
					--color-main-tint-7: hsla(var(--color-main-hue), 10%, 50%, 1);
					--color-main-tint-8: hsla(var(--color-main-hue), 10%, 65%, 1);
					--color-main-tint-9: hsla(var(--color-main-hue), 10%, 80%, 1);
					--color-main-tint-10: hsla(var(--color-main-hue), 10%, 95%, 1);

					--color-text-primary: hsla(var(--color-main-hue), 15%, 95%, 1);
					--color-text-secondary: hsla(var(--color-main-hue), 5%, 75%, 1);
					--color-text-accent: var(--color-main-accent);

					--shadow: 0px 10px 10px -5px hsla(var(--color-main-hue) 50% 3% / 0.3);
				}
			}

			&.light{
				&:root{
					color-scheme: light;

					--color-main-accent: hsla(var(--color-main-hue), 15%, 95%, 1);

					--color-main-tint-1: hsla(var(--color-main-hue), 20%, 100%, 1);
					--color-main-tint-2: hsla(var(--color-main-hue), 20%, 95%, 1);
					--color-main-tint-3: hsla(var(--color-main-hue), 20%, 90%, 1);
					--color-main-tint-4: hsla(var(--color-main-hue), 20%, 85%, 1);
					--color-main-tint-5: hsla(var(--color-main-hue), 20%, 80%, 1);
					--color-main-tint-6: hsla(var(--color-main-hue), 20%, 75%, 1);
					--color-main-tint-7: hsla(var(--color-main-hue), 20%, 60%, 1);
					--color-main-tint-8: hsla(var(--color-main-hue), 20%, 45%, 1);
					--color-main-tint-9: hsla(var(--color-main-hue), 20%, 30%, 1);
					--color-main-tint-10: hsla(var(--color-main-hue), 20%, 15%, 1);

					--color-text-primary: hsla(var(--color-main-hue), var(--color-main-saturation), 10%, 1);
					--color-text-secondary: hsla(var(--color-main-hue), 30%, 30%, 1);
					--color-text-accent: var(--color-main-accent);

					--shadow: 0px 10px 10px -5px hsla(var(--color-main-hue) 10% 2% / 0.2);
				}
			}
		}
	}

	@layer default{
		:root, html, body, *, *::before, *::after{
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			outline: none;
			text-decoration: none;

			min-width: 0;

			-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Mobile link click effect disabling */
		}

		/* Selection */
		*::selection{
			color: var(--color-text-primary);
			background-color: var(--color-brand);
		}

		/* <a> basic active & hover effects */
		a{
			cursor: pointer;
			color: var(--color-text-secondary);

			&:where(:active, :focus, :hover){
				color: var(--color-text-primary);
			}
		}

		/* Fix li elemet going out from parent element */
		li{
		  margin-left: 20px;
		}

		/*** Removing default scrollbars START ***/
		*{
		  -ms-overflow-style: none; /* IE and Edge */
		  scrollbar-width: none; /* Firefox */
		}

		/* Chrome, Safari, Opera */
		*::-webkit-scrollbar{
		  display: none;
		}
		/*** Removing default scrollbars END ***/

		/*** Body START ***/
		body{
		  background-color: var(--color-main-tint-1);
		  color: var(--color-text-primary);
		  font-size: 1rem;
		  height: 100dvh;
		}
		/*** Body END ***/

		/*** Mobile Screen START ***/
		@media (width <= 600px){
		  :root{
			font-size: 16px;
		  }

		  html, body{
			height: 100dvh;
			overflow: hidden;
		  }
		}
		/*** Mobile Screen END ***/
	}

	@layer cursor{
		.cursor-pointer{
			cursor: pointer;
		}

		.cursor-not-allowed{
			cursor: not-allowed;
		}
	}

	@layer text{
		@layer color{
			.text-color-brand{color: var(--color-brand);}

			.text-color-primary{color: var(--color-text-primary);}
			.text-color-secondary{color: var(--color-text-secondary);}
			.text-color-accent{color: var(--color-text-accent);}

			.text-color-black{color: black;}
			.text-color-white{color: white;}
			.text-color-transparent{color: transparent;}

			.text-color-success{color: var(--color-success);}
			.text-color-info{color: var(--color-info);}
			.text-color-warning{color: var(--color-warning);}
			.text-color-error{color: var(--color-error);}
		}

		@layer align{
			.text-align-start{text-align: start;}
			.text-align-end{text-align: end;}
			.text-align-left{text-align: left;}
			.text-align-center{text-align: center;}
			.text-align-right{text-align: right;}
			.text-align-justify{text-align: justify;}
			.text-align-justify-all{text-align: justify-all;}
			.text-align-match-parent{text-align: match-parent;}
		}

		@layer weight{
			.text-weight-bold{font-weight: bold;}
			.text-weight-bolder{font-weight: bolder;}
			.text-weight-lighter{font-weight: lighter;}
			.text-weight-normal{font-weight: normal;}

			.text-weight-100{font-weight: 100;}
			.text-weight-200{font-weight: 200;}
			.text-weight-300{font-weight: 300;}
			.text-weight-400{font-weight: 400;} /* normal */
			.text-weight-500{font-weight: 500;}
			.text-weight-600{font-weight: 600;}
			.text-weight-700{font-weight: 700;} /* bold */
			.text-weight-800{font-weight: 800;}
			.text-weight-900{font-weight: 900;}
		}

		@layer size{
			.text-size-0-1{font-size: 0.1rem;}
			.text-size-0-2{font-size: 0.2rem;}
			.text-size-0-3{font-size: 0.3rem;}
			.text-size-0-4{font-size: 0.4rem;}
			.text-size-0-5{font-size: 0.5rem;}
			.text-size-0-6{font-size: 0.6rem;}
			.text-size-0-7{font-size: 0.7rem;}
			.text-size-0-8{font-size: 0.8rem;}
			.text-size-0-9{font-size: 0.9rem;}

			.text-size-1{font-size: 1rem;}
			.text-size-1-1{font-size: 1.1rem;}
			.text-size-1-2{font-size: 1.2rem;}
			.text-size-1-3{font-size: 1.3rem;}
			.text-size-1-4{font-size: 1.4rem;}
			.text-size-1-5{font-size: 1.5rem;}
			.text-size-1-6{font-size: 1.6rem;}
			.text-size-1-7{font-size: 1.7rem;}
			.text-size-1-8{font-size: 1.8rem;}
			.text-size-1-9{font-size: 1.9rem;}

			.text-size-2{font-size: 2rem;}
			.text-size-2-5{font-size: 2.5rem;}

			.text-size-3{font-size: 3rem;}

			.text-size-4{font-size: 4rem;}

			.text-size-5{font-size: 5rem;}

			.text-size-6{font-size: 6rem;}

			.text-size-7{font-size: 7rem;}

			.text-size-8{font-size: 8rem;}

			.text-size-9{font-size: 9rem;}

			.text-size-10{font-size: 10rem;}
		}

		@layer line_height{
			.text-lh-0-1{line-height: 0.1rem;}
			.text-lh-0-2{line-height: 0.2rem;}
			.text-lh-0-3{line-height: 0.3rem;}
			.text-lh-0-4{line-height: 0.4rem;}
			.text-lh-0-5{line-height: 0.5rem;}
			.text-lh-0-6{line-height: 0.6rem;}
			.text-lh-0-7{line-height: 0.7rem;}
			.text-lh-0-8{line-height: 0.8rem;}
			.text-lh-0-9{line-height: 0.9rem;}
			.text-lh-1{line-height: 1rem;}
			.text-lh-1-1{line-height: 1.1rem;}
			.text-lh-1-2{line-height: 1.2rem;}
			.text-lh-1-3{line-height: 1.3rem;}
			.text-lh-1-4{line-height: 1.4rem;}
			.text-lh-1-5{line-height: 1.5rem;}
			.text-lh-1-6{line-height: 1.6rem;}
			.text-lh-1-7{line-height: 1.7rem;}
			.text-lh-1-8{line-height: 1.8rem;}
			.text-lh-1-9{line-height: 1.9rem;}
			.text-lh-2{line-height: 2rem;}
			.text-lh-2-1{line-height: 2.1rem;}
			.text-lh-2-2{line-height: 2.2rem;}
			.text-lh-2-3{line-height: 2.3rem;}
			.text-lh-2-4{line-height: 2.4rem;}
			.text-lh-2-5{line-height: 2.5rem;}
			.text-lh-2-6{line-height: 2.6rem;}
			.text-lh-2-7{line-height: 2.7rem;}
			.text-lh-2-8{line-height: 2.8rem;}
			.text-lh-2-9{line-height: 2.9rem;}
			.text-lh-3{line-height: 3rem;}
		}

		@layer letter_spacing{
			.text-ls-0-1{letter-spacing: 0.1rem;}
			.text-ls-0-2{letter-spacing: 0.2rem;}
			.text-ls-0-3{letter-spacing: 0.3rem;}
			.text-ls-0-4{letter-spacing: 0.4rem;}
			.text-ls-0-5{letter-spacing: 0.5rem;}
			.text-ls-0-6{letter-spacing: 0.6rem;}
			.text-ls-0-7{letter-spacing: 0.7rem;}
			.text-ls-0-8{letter-spacing: 0.8rem;}
			.text-ls-0-9{letter-spacing: 0.9rem;}
			.text-ls-1{letter-spacing: 1rem;}
			.text-ls-1-1{letter-spacing: 1.1rem;}
			.text-ls-1-2{letter-spacing: 1.2rem;}
			.text-ls-1-3{letter-spacing: 1.3rem;}
			.text-ls-1-4{letter-spacing: 1.4rem;}
			.text-ls-1-5{letter-spacing: 1.5rem;}
			.text-ls-1-6{letter-spacing: 1.6rem;}
			.text-ls-1-7{letter-spacing: 1.7rem;}
			.text-ls-1-8{letter-spacing: 1.8rem;}
			.text-ls-1-9{letter-spacing: 1.9rem;}
			.text-ls-2{letter-spacing: 2rem;}
			.text-ls-2-1{letter-spacing: 2.1rem;}
			.text-ls-2-2{letter-spacing: 2.2rem;}
			.text-ls-2-3{letter-spacing: 2.3rem;}
			.text-ls-2-4{letter-spacing: 2.4rem;}
			.text-ls-2-5{letter-spacing: 2.5rem;}
			.text-ls-2-6{letter-spacing: 2.6rem;}
			.text-ls-2-7{letter-spacing: 2.7rem;}
			.text-ls-2-8{letter-spacing: 2.8rem;}
			.text-ls-2-9{letter-spacing: 2.9rem;}
			.text-ls-3{letter-spacing: 3rem;}
		}



		/****** Other ******/
		/** Style **/
		.text-italic{font-style: italic;}

		/* white-space */
		.text-nowrap{white-space: nowrap !important;}

		/* text-decoration */
		.text-decoration-underline{text-decoration: underline;}

		/* Transform */
		.text-transform-none{text-transform: none;}
		.text-transform-capitalize{text-transform: capitalize;}
		.text-transform-uppercase{text-transform: uppercase;}
		.text-transform-lowercase{text-transform: lowercase;}
	}

	@layer custom_scrollbars{
		/** Common START **/
		.scrollbar-x,
		.scrollbar-y{
			overflow: hidden;
		}
		.scrollbar-x{
			overflow-x: scroll;
		}
		.scrollbar-y{
			overflow-y: scroll;
		}
		/** Common END **/

		/********************* v1 START *********************/
		/** Firefox START **/
		:where(.scrollbar-x, .scrollbar-y){
			scrollbar-width: auto;
			scrollbar-color: var(--color-main) transparent;
		}
		/** Firefox END **/

		/** All Other Browsers START **/
		:where(.scrollbar-x, .scrollbar-y)::-webkit-scrollbar{
			display: unset;
			width: 5px;
			height: 5px;
		}
		:where(.scrollbar-x, .scrollbar-y)::-webkit-scrollbar-track{
			background-color: transparent;
		}
		:where(.scrollbar-x, .scrollbar-y)::-webkit-scrollbar-thumb{
			background-color: hsla(var(--color-main-hue), var(--color-main-saturation), var(--color-main-lightness), 0.5);
			border-radius: 5px;
		}
		:where(.scrollbar-x, .scrollbar-y)::-webkit-scrollbar-thumb:hover{
			background-color: hsla(var(--color-main-hue), var(--color-main-saturation), var(--color-main-lightness), 1);
		}
		/** All Other Browsers END **/
		/********************* v1 END *********************/
	}

	@layer forms{
		/** Form Variables START **/
		:root{
			--f-padding: 10px;
			--f-radius: 5px;
			--f-gap: 10px;
			--f-height: 40px;
			--f-width: 100%;
			--f-font-size: 20px;
			--f-border: 1px solid var(--color-text-secondary);
			--f-transition: var(--transition-velocity) ease-in-out;
			--f-transition-property: background-color, border;
		}
		/** Form Variables END **/

		fieldset{
			padding: var(--f-padding);
			border-radius: var(--f-radius);
			border: var(--f-border);

			display: flex;
			flex-direction: column;
			gap: var(--f-gap);

			& legend{
				background-color: var(--color-text-primary);
				color: var(--color-text-accent);
				border-radius: var(--f-radius);
				padding: 2px 5px;
			}
		}

		form{
			width: var(--f-width);

			display: grid;
			grid-gap: var(--f-gap);

			& label{
				width: 100%;

				& > p{
					font-size: 0.8rem;
					min-height: 1rem;
					display: inline-block;
					padding: var(--padding);
				}
			}
		}

		/** select, textarea, imput[types] START **/
		/* Defaults */
		select,
		textarea,
		input:where([type=text], [type=eMail], [type=password], [type=number], [type=color], [type=file], [type=date], [type=tel], [type=range]){
			background-color: var(--color-main-tint-3);
			width: var(--f-width);
			height: var(--f-height);
			font-size: var(--f-font-size);
			padding: 0 var(--f-padding);
			border-radius: var(--f-radius);
			border: var(--f-border);

			transition: var(--f-transition);
			transition-property: var(--f-transition-property);

			&:hover, &:focus, &:active{
				&:not(:disabled){
					background-color: var(--color-main-tint-5);
					border: 1px solid var(--color-text-primary);
				}
			}
		}
		/** select, textarea, imput[types] END **/

		input{
			&[type=color]{
				/* Chrome X */
				&::-webkit-color-swatch-wrapper{
					padding: 5px;
					width: var(--f-width);
				}

				/* Chrome Y */
				&::-webkit-color-swatch{
					border: none;
					border-radius: var(--f-radius);
					height: 100%;
				}

				/* Firefox X */
				::-moz-color-swatch-wrapper {
					padding: 5px;
					width: var(--f-width);
				}

				/* Firefox Y */
				::-moz-color-swatch{
					border: none;
					border-radius: var(--f-radius);
					height: 100%;
				}
			}

			&[type=file]{
				padding: var(--padding);
				font-size: var(--f-font-size);

				/* Button */
				&::file-selector-button{
					background-color: var(--color-main);
					color: white;
					font-size: var(--f-font-size);

					padding: 3px 10px;

					border: none;
					border-radius: var(--f-radius);

					cursor: pointer;
				}
			}

			&[type=number]{
				/*** Hide arrows ***/
				/* Firefox */
				-moz-appearance: textfield;

				/* Chrome, Safari, Edge, Opera */
				&::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
					-webkit-appearance: none;
				}
			}

			&[type=radio], &[type=checkbox]{
				width: 20px;
				height: auto;
			}
		}

		select{
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}

		textarea{
			height: unset;
			font-size: calc(var(--f-font-size) / 1.5);
			min-height: 150px;
			resize: vertical;
			padding: var(--f-padding);
		}

		@layer buttons{
			.btn{
				--btn-font-size: 1rem;

				cursor: pointer;
				user-select: none;

				color: white;
				font-size: var(--btn-font-size);

				display: inline-flex;
				align-items: center;
				justify-content: center;
				gap: calc(var(--gap) / 4);
				vertical-align:middle;

				height: calc(1em + 0.4em * 2);
				min-width: fit-content;

				padding-inline: 0.6em;

				border: 1px solid transparent;
				border-radius: var(--radius);

				transition: var(--transition-velocity) ease-in-out;
				transition-property: filter, transform, box-shadow, border, background-color, color;


				&:not(.btn-outline){
					box-shadow: 0px 5px 10px 0px rgba(0 0 0 / 0.3);

					&:hover{
						filter: brightness(110%);
					}

					&:focus{
						border-color: color-mix(in hsl, transparent, hsla(var(--color-main-hue), var(--color-main-saturation), var(--color-main-lightness), 0.5));
					}

					&:active{
						filter: brightness(80%);
						transform: translateY(5px);
						box-shadow: 0px 5px 10px -5px rgba(0 0 0 / 0.3);
					}
				}

				&.btn-outline{
					&:active{
						transform: translateY(5px);
					}
				}

				/* Colors */
				&.btn-primary{
					background-color: var(--color-main);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-main);
						color: var(--color-main);

						&:hover{
							background-color: var(--color-main);
							color: white;
						}
					}
				}

				&.btn-secondary{
					background-color: hsla(var(--color-main-hue), 20%, 80%, 1);
					color: black;

					&.btn-outline{
						background-color: transparent;
						border-color: hsla(var(--color-main-hue), 20%, 80%, 1);
						color: hsla(var(--color-main-hue), 20%, 80%, 1);

						&:hover{
							background-color: hsla(var(--color-main-hue), 20%, 80%, 1);
							color: black;
						}
					}
				}

				&.btn-success{
					background-color: var(--color-success);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-success);
						color: var(--color-success);

						&:hover{
							background-color: var(--color-success);
							color: white;
						}
					}
				}

				&.btn-info{
					background-color: var(--color-info);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-info);
						color: var(--color-info);

						&:hover{
							background-color: var(--color-info);
							color: white;
						}
					}
				}

				&.btn-warning{
					background-color: var(--color-warning);
					color: var(--color-main-dark);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-warning);
						color: var(--color-warning);

						&:hover{
							background-color: var(--color-warning);
							color: var(--color-main-dark);
						}
					}
				}

				&.btn-error{
					background-color: var(--color-error);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-error);
						color: var(--color-error);

						&:hover{
							background-color: var(--color-error);
							color: white;
						}
					}
				}

				&.btn-dark{
					background-color: var(--color-main-dark);
					color: var(--color-main-light);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-main-dark);
						color: var(--color-main-dark);

						&:hover{
							background-color: var(--color-main-dark);
							color: var(--color-main-light);
						}
					}
				}

				&.btn-light{
					background-color: var(--color-main-light);
					color: var(--color-main-dark);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-main-light);
						color: var(--color-main-light);

						&:hover{
							background-color: var(--color-main-light);
							color: var(--color-main-dark);
						}
					}
				}

				&.btn-accent{
					background-color: var(--color-main-accent);
					color: var(--color-text-primary);

					&.btn-outline{
						background-color: transparent;
						border-color: var(--color-main-accent);
						color: var(--color-main-accent);

						&:hover{
							background-color: var(--color-main-accent);
							color: var(--color-text-primary);
						}
					}
				}

				/* Sizes */
				&.btn-xs{
					font-size: calc(var(--btn-font-size) * 0.6);
				}

				&.btn-s{
					font-size: calc(var(--btn-font-size) * 0.8);
				}

				&.btn-l{
					font-size: calc(var(--btn-font-size) * 1.4);
				}

				&.btn-xl{
					font-size: calc(var(--btn-font-size) * 1.8);
				}

				&.btn-xxl{
					font-size: calc(var(--btn-font-size) * 2.6);
				}
			}
		}
	}

	@layer table{
		table{
			--tbl-padding: calc(var(--padding) * 2);
			--tbl-border-color: hsla(var(--color-main-hue), 5%, 50%, 1);
			--tbl-font-size: 0.7rem;
			--tbl-radius: var(--radius);

			width: 100%;
			table-layout: auto;
			font-size: var(--tbl-font-size);

			/* Default styling for caption */
			& > caption{
				font-size: calc(var(--tbl-font-size) * 2.5);
				padding: var(--tbl-padding);
			}

			/* Default padding for all cells */
			& th, td{
				padding: var(--tbl-padding);
			}

			&.table-layout-fixed{
				table-layout: fixed !important;
			}

			/* Table versions */
			&.table-v1{
				border-collapse: collapse;

				border-block: solid 1px var(--tbl-border-color);

				& > thead{
					background-color: var(--color-main-tint-2);

					& > tr{
						border-block-end: solid 2px var(--tbl-border-color);
					}
				}

				& > tbody{
					& > tr{
						border-block-end: solid 1px var(--tbl-border-color);
					}
				}

				& > tfoot{
					background-color: var(--color-main-tint-2);
				}

				&.table-zebra{
					& > tbody{
						& > tr{
							&:nth-child(odd){
								background-color: var(--color-main-tint-4);
							}

							&:nth-child(even){
								background-color: var(--color-main-tint-3);
							}
						}
					}
				}

				&.table-hover{
					& > tbody{
						& > tr{
							&:hover{
								background-color: var(--color-main-tint-5);
							}
						}
					}
				}

				&.table-bordered{
					border: solid 1px var(--tbl-border-color);
				}
			}

			&.table-v2{
				& > thead{
					& > tr{
						& > th{
							background-color: var(--color-main-tint-10);
							color: var(--color-text-accent);
							border-radius: var(--tbl-radius);
						}
					}
				}

				& > tbody{
					& > tr{
						& > td{
							border-radius: var(--tbl-radius);
						}
					}
				}

				& > tfoot{

					& > tr{
						background-color: var(--color-main-tint-9);
						& > td{
							color: var(--color-text-accent);
							border-radius: var(--tbl-radius);
						}
					}
				}

				&.table-zebra{
					& > tbody{
						& > tr{
							&:nth-child(odd){
								background-color: var(--color-main-tint-4);
							}

							&:nth-child(even){
								background-color: var(--color-main-tint-5);
							}
						}
					}
				}

				&.table-hover{
					& > tbody{
						& > tr{
							&:hover{
								background-color: var(--color-main-tint-7);
							}
						}
					}
				}

				&.table-bordered{
					padding: var(--tbl-padding);
					border: solid 1px var(--tbl-border-color);
					border-radius: var(--tbl-radius);
				}
			}

			&.table-v3{
				border-collapse: collapse;

				& > thead{
					background-color: var(--color-main-tint-2);

					& > tr{
						& > th{
							color: var(--color-text-primary);

							&:first-child{
								border-top-left-radius: var(--tbl-radius);
							}

							&:last-child{
								border-top-right-radius: var(--tbl-radius);
							}
						}
					}
				}

				& > tbody{
					background-color: var(--color-main-tint-2);
				}

				&:not(:has(tfoot)) tbody{
					& > tr{
						&:last-child{
							& > td{
								&:first-child{
									border-bottom-left-radius: var(--radius);
								}

								&:last-child{
									border-bottom-right-radius: var(--radius);
								}
							}
						}
					}
				}

				& > tfoot{
					background-color: var(--color-main-tint-2);
					border-block-start: 1px solid var(--color-main-tint-3);

					& > tr{
						& > td{
							color: var(--color-text-secondary);

							&:first-child{
								border-bottom-left-radius: var(--tbl-radius);
							}

							&:last-child{
								border-bottom-right-radius: var(--tbl-radius);
							}
						}
					}
				}

				&.table-zebra{
					& > tbody{
						& > tr{
							&:nth-child(odd){
								background-color: var(--color-main-tint-4);
							}

							&:nth-child(even){
								background-color: var(--color-main-tint-3);
							}
						}
					}
				}

				&.table-hover{
					& > tbody{
						& > tr{
							&:hover{
								background-color: var(--color-main-tint-5);
							}
						}
					}
				}
			}

			&.table-v4{
				border-collapse: collapse;

				& > thead{
					& > tr{
						& > th{
							color: var(--color-text-primary);
						}
					}
				}

				& > tbody{
					& > tr{
						& > td{
							border: 1px solid var(--color-main);
						}
					}
				}

				& > tfoot{
					& > tr{
						& > td{
							color: var(--color-text-secondary);
						}
					}
				}

				&.table-hover{
					& > tbody{
						& > tr{
							&:hover{
								background-color: var(--color-main-tint-4);
							}
						}
					}
				}
			}

			&.table-v5{
				border-collapse: collapse;

				& > thead{
					& > tr{
						& > th{
							background-color: var(--color-main-tint-4);
							color: var(--color-text-primary);
						}
					}
				}

				& > tbody{
					& > tr{
					}
				}

				& > tfoot{
					& > tr{
						& > td{
							background-color: var(--color-main-tint-4);
							color: var(--color-text-secondary);
						}
					}
				}

				& th, td{
					&:first-child{
						border-top-left-radius: var(--tbl-radius);
						border-bottom-left-radius: var(--tbl-radius);
					}

					&:last-child{
						border-top-right-radius: var(--tbl-radius);
						border-bottom-right-radius: var(--tbl-radius);
					}
				}

				&.table-hover{
					& > tbody{
						& > tr{
							&:hover{
								background-color: hsla(var(--color-main-hue), 5%, 50%, 0.1);
							}
						}
					}
				}
			}

			/* Blueprint for new versions */
			&.table-vX{
				& > thead{
					& > tr{
					}
				}

				& > tbody{
					& > tr{
					}
				}

				& > tfoot{
					background-color: gray;
				}

				&.table-zebra{
					& > tbody{
						& > tr{
							&:nth-child(odd){
								background-color: red;
							}

							&:nth-child(even){
								background-color: blue;
							}
						}
					}
				}

				&.table-hover{
					& > tbody{
						& > tr{
							&:hover{
								background-color: yellow;
							}
						}
					}
				}

				&.table-bordered{
					border: solid 1px pink;
				}
			}
		}
	}

	@layer surfaces{
		.surface-v1{
			background-color: var(--color-main-tint-3);

			border-radius: var(--radius);
			box-shadow: var(--shadow);
		}

		.surface-v2{
			background-color: var(--color-main-tint-3);

			border-radius: 0px;
			border-left: 1px solid var(--color-main-tint-2);
			border-top: 1px solid var(--color-main-tint-4);
			border-right: 1px solid var(--color-main-tint-4);
			border-bottom: 1px solid var(--color-main-tint-2);
		}

		/*** Situational ***/
		/* Success */
		.surface-success{
			background-color: hsla(var(--color-success-hue), var(--color-success-saturation), var(--color-success-lightness), 0.1);
			border-left: solid 5px var(--color-success);
			box-shadow: var(--shadow);
		}

		/* Info */
		.surface-info{
			background-color: hsla(var(--color-info-hue), var(--color-info-saturation), var(--color-info-lightness), 0.1);
			border-left: solid 5px var(--color-info);
			box-shadow: var(--shadow);
		}

		/* Warning */
		.surface-warning{
			background-color: hsla(var(--color-warning-hue), var(--color-warning-saturation), var(--color-warning-lightness), 0.1);
			border-left: solid 5px var(--color-warning);
			box-shadow: var(--shadow);
		}

		/* Error */
		.surface-error{
			background-color: hsla(var(--color-error-hue), var(--color-error-saturation), var(--color-error-lightness), 0.1);
			border-left: solid 5px var(--color-error);
			box-shadow: var(--shadow);
		}
	}

	@layer backgrounds{
		/* Brand */
		.bg-main{background-color: var(--color-main);}
		.bg-brand{background-color: var(--color-brand);}

		/* Brand Color Shades */
		.bg-1{background-color: var(--color-main-tint-1);}
		.bg-2{background-color: var(--color-main-tint-2);}
		.bg-3{background-color: var(--color-main-tint-3);}
		.bg-4{background-color: var(--color-main-tint-4);}
		.bg-5{background-color: var(--color-main-tint-5);}
		.bg-6{background-color: var(--color-main-tint-6);}
		.bg-7{background-color: var(--color-main-tint-7);}
		.bg-8{background-color: var(--color-main-tint-8);}
		.bg-9{background-color: var(--color-main-tint-9);}
		.bg-10{background-color: var(--color-main-tint-10);}

		/* Basics */
		.bg-black{background-color: black;}
		.bg-white{background-color: white;}
		.bg-transparent{background-color: transparent;}

		/* Situational */
		.bg-success  {background-color: var(--color-success);}
		.bg-info     {background-color: var(--color-info);}
		.bg-warning  {background-color: var(--color-warning);}
		.bg-error    {background-color: var(--color-error);}

		/* Gradient */
		.bg-gradient-left  {background-image: linear-gradient(to left, var(--color-main-tint-2), var(--color-main-tint-6));}
		.bg-gradient-right {background-image: linear-gradient(to right, var(--color-main-tint-2), var(--color-main-tint-6));}
		.bg-gradient-45    {background-image: linear-gradient(45deg, var(--color-main-tint-2), var(--color-main-tint-6) 80%);}
	}

	@layer image{
		.object-fit-cover{object-fit: cover;}
		.object-fit-contain{object-fit: contain;}
		.object-fit-fill{object-fit: fill;}
		.object-fit-none{object-fit: none;}
		.object-fit-scale-down{object-fit: scale-down;}
	}

	@layer layout{
		container{
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
			height: auto;
		}

		row, column{
			display: flex;
		}

		row{
			width: 100%;
			flex-direction: row;
			justify-content: center;
		}

		column{
			flex-direction: column;
			align-items: center;
		}

		@media (width <= 600px) {
			row{
				flex-direction: column;
				width: 100% !important;
			}
			column{
				width: 100% !important;
			}
		}
	}

	@layer sizing{
		@layer width{
			.w-auto{width: auto;}
			.w-fit-content{width: fit-content;}
			.w-min-content{width: min-content;}
			.w-max-content{width: max-content;}

			/* % */
			.w-10{width: 10%;}
			.w-15{width: 15%;}
			.w-20{width: 20%;}
			.w-25{width: 25%;}
			.w-30{width: 30%;}
			.w-35{width: 35%;}
			.w-40{width: 40%;}
			.w-45{width: 45%;}
			.w-50{width: 50%;}
			.w-55{width: 55%;}
			.w-60{width: 60%;}
			.w-65{width: 65%;}
			.w-70{width: 70%;}
			.w-75{width: 75%;}
			.w-80{width: 80%;}
			.w-85{width: 85%;}
			.w-90{width: 90%;}
			.w-95{width: 95%;}
			.w-100{width: 100%;}

			/* vw */
			.vw-10{width: 10vw;}
			.vw-15{width: 15vw;}
			.vw-20{width: 20vw;}
			.vw-10{width: 10vw;}
			.vw-25{width: 25vw;}
			.vw-30{width: 30vw;}
			.vw-35{width: 35vw;}
			.vw-40{width: 40vw;}
			.vw-45{width: 45vw;}
			.vw-50{width: 50vw;}
			.vw-55{width: 55vw;}
			.vw-60{width: 60vw;}
			.vw-65{width: 65vw;}
			.vw-70{width: 70vw;}
			.vw-75{width: 75vw;}
			.vw-80{width: 80vw;}
			.vw-85{width: 85vw;}
			.vw-90{width: 90vw;}
			.vw-95{width: 95vw;}
			.vw-100{width: 100vw;}

			/* min-width % */
			.min-w-10{min-width: 10%;}
			.min-w-15{min-width: 15%;}
			.min-w-20{min-width: 20%;}
			.min-w-25{min-width: 25%;}
			.min-w-30{min-width: 30%;}
			.min-w-35{min-width: 35%;}
			.min-w-40{min-width: 40%;}
			.min-w-45{min-width: 45%;}
			.min-w-50{min-width: 50%;}
			.min-w-55{min-width: 55%;}
			.min-w-60{min-width: 60%;}
			.min-w-65{min-width: 65%;}
			.min-w-70{min-width: 70%;}
			.min-w-75{min-width: 75%;}
			.min-w-80{min-width: 80%;}
			.min-w-85{min-width: 85%;}
			.min-w-90{min-width: 90%;}
			.min-w-95{min-width: 95%;}
			.min-w-100{min-width: 100%;}

			/* min-width vw */
			.min-vw-10{min-width: 10vw;}
			.min-vw-15{min-width: 15vw;}
			.min-vw-20{min-width: 20vw;}
			.min-vw-10{min-width: 10vw;}
			.min-vw-25{min-width: 25vw;}
			.min-vw-30{min-width: 30vw;}
			.min-vw-35{min-width: 35vw;}
			.min-vw-40{min-width: 40vw;}
			.min-vw-45{min-width: 45vw;}
			.min-vw-50{min-width: 50vw;}
			.min-vw-55{min-width: 55vw;}
			.min-vw-60{min-width: 60vw;}
			.min-vw-65{min-width: 65vw;}
			.min-vw-70{min-width: 70vw;}
			.min-vw-75{min-width: 75vw;}
			.min-vw-80{min-width: 80vw;}
			.min-vw-85{min-width: 85vw;}
			.min-vw-90{min-width: 90vw;}
			.min-vw-95{min-width: 95vw;}
			.min-vw-100{min-width: 100vw;}

			/* max-width % */
			.max-w-10{max-width: 10%;}
			.max-w-15{max-width: 15%;}
			.max-w-20{max-width: 20%;}
			.max-w-25{max-width: 25%;}
			.max-w-30{max-width: 30%;}
			.max-w-35{max-width: 35%;}
			.max-w-40{max-width: 40%;}
			.max-w-45{max-width: 45%;}
			.max-w-50{max-width: 50%;}
			.max-w-55{max-width: 55%;}
			.max-w-60{max-width: 60%;}
			.max-w-65{max-width: 65%;}
			.max-w-70{max-width: 70%;}
			.max-w-75{max-width: 75%;}
			.max-w-80{max-width: 80%;}
			.max-w-85{max-width: 85%;}
			.max-w-90{max-width: 90%;}
			.max-w-95{max-width: 95%;}
			.max-w-100{max-width: 100%;}

			/* max-width vw */
			.max-vw-10{max-width: 10vw;}
			.max-vw-15{max-width: 15vw;}
			.max-vw-20{max-width: 20vw;}
			.max-vw-10{max-width: 10vw;}
			.max-vw-25{max-width: 25vw;}
			.max-vw-30{max-width: 30vw;}
			.max-vw-35{max-width: 35vw;}
			.max-vw-40{max-width: 40vw;}
			.max-vw-45{max-width: 45vw;}
			.max-vw-50{max-width: 50vw;}
			.max-vw-55{max-width: 55vw;}
			.max-vw-60{max-width: 60vw;}
			.max-vw-65{max-width: 65vw;}
			.max-vw-70{max-width: 70vw;}
			.max-vw-75{max-width: 75vw;}
			.max-vw-80{max-width: 80vw;}
			.max-vw-85{max-width: 85vw;}
			.max-vw-90{max-width: 90vw;}
			.max-vw-95{max-width: 95vw;}
			.max-vw-100{max-width: 100vw;}

			/* px */
			.w-10px{width: 10px;}
			.w-20px{width: 20px;}
			.w-30px{width: 30px;}
			.w-40px{width: 40px;}
			.w-50px{width: 50px;}
			.w-60px{width: 60px;}
			.w-70px{width: 70px;}
			.w-80px{width: 80px;}
			.w-90px{width: 90px;}
			.w-100px{width: 100px;}
			.w-150px{width: 150px;}
			.w-200px{width: 200px;}
			.w-250px{width: 250px;}
			.w-300px{width: 300px;}
			.w-350px{width: 350px;}
			.w-400px{width: 400px;}
			.w-450px{width: 450px;}
			.w-500px{width: 500px;}
			.w-550px{width: 550px;}
			.w-600px{width: 600px;}
			.w-650px{width: 650px;}
			.w-700px{width: 700px;}
			.w-750px{width: 750px;}
			.w-800px{width: 800px;}
			.w-850px{width: 850px;}
			.w-900px{width: 900px;}
			.w-950px{width: 950px;}
			.w-1000px{width: 1000px;}

			/* max-width px */
			.max-w-100px{max-width: 100px;}
			.max-w-200px{max-width: 200px;}
			.max-w-250px{max-width: 250px;}
			.max-w-500px{max-width: 500px;}
			.max-w-600px{max-width: 600px;}
			.max-w-1000px{max-width: 1000px;}
			.max-w-1200px{max-width: 1200px;}
			.max-w-1500px{max-width: 1500px;}
			.max-w-2000px{max-width: 2000px;}
			.max-w-2200px{max-width: 2200px;}
			.max-w-2500px{max-width: 2500px;}

			/* min-width px */
			.min-w-100px{min-width: 100px;}
			.min-w-200px{min-width: 200px;}
			.min-w-250px{min-width: 250px;}
			.min-w-500px{min-width: 500px;}
			.min-w-600px{min-width: 600px;}
			.min-w-1000px{min-width: 1000px;}
			.min-w-1200px{min-width: 1200px;}
			.min-w-1500px{min-width: 1500px;}
			.min-w-2000px{min-width: 2000px;}
			.min-w-2200px{min-width: 2200px;}
			.min-w-2500px{min-width: 2500px;}
		}

		@layer height{
			.h-auto{height: auto;}
			.h-fit-content{height: fit-content;}
			.h-min-content{height: min-content;}
			.h-max-content{height: max-content;}

			/* % */
			.h-10{height: 10%;}
			.h-15{height: 15%;}
			.h-20{height: 20%;}
			.h-25{height: 25%;}
			.h-30{height: 30%;}
			.h-35{height: 35%;}
			.h-40{height: 40%;}
			.h-45{height: 45%;}
			.h-50{height: 50%;}
			.h-55{height: 55%;}
			.h-60{height: 60%;}
			.h-65{height: 65%;}
			.h-70{height: 70%;}
			.h-75{height: 75%;}
			.h-80{height: 80%;}
			.h-85{height: 85%;}
			.h-90{height: 90%;}
			.h-95{height: 95%;}
			.h-100{height: 100%;}

			/* vh */
			.vh-10{height: 10vh;}
			.vh-15{height: 15vh;}
			.vh-20{height: 20vh;}
			.vh-10{height: 10vh;}
			.vh-25{height: 25vh;}
			.vh-30{height: 30vh;}
			.vh-35{height: 35vh;}
			.vh-40{height: 40vh;}
			.vh-45{height: 45vh;}
			.vh-50{height: 50vh;}
			.vh-55{height: 55vh;}
			.vh-60{height: 60vh;}
			.vh-65{height: 65vh;}
			.vh-70{height: 70vh;}
			.vh-75{height: 75vh;}
			.vh-80{height: 80vh;}
			.vh-85{height: 85vh;}
			.vh-90{height: 90vh;}
			.vh-95{height: 95vh;}
			.vh-100{height: 100vh;}

			/* min-height % */
			.min-h-10{min-height: 10%;}
			.min-h-15{min-height: 15%;}
			.min-h-20{min-height: 20%;}
			.min-h-25{min-height: 25%;}
			.min-h-30{min-height: 30%;}
			.min-h-35{min-height: 35%;}
			.min-h-40{min-height: 40%;}
			.min-h-45{min-height: 45%;}
			.min-h-50{min-height: 50%;}
			.min-h-55{min-height: 55%;}
			.min-h-60{min-height: 60%;}
			.min-h-65{min-height: 65%;}
			.min-h-70{min-height: 70%;}
			.min-h-75{min-height: 75%;}
			.min-h-80{min-height: 80%;}
			.min-h-85{min-height: 85%;}
			.min-h-90{min-height: 90%;}
			.min-h-95{min-height: 95%;}
			.min-h-100{min-height: 100%;}

			/* min-height vh */
			.min-vh-10{min-height: 10vh;}
			.min-vh-15{min-height: 15vh;}
			.min-vh-20{min-height: 20vh;}
			.min-vh-10{min-height: 10vh;}
			.min-vh-25{min-height: 25vh;}
			.min-vh-30{min-height: 30vh;}
			.min-vh-35{min-height: 35vh;}
			.min-vh-40{min-height: 40vh;}
			.min-vh-45{min-height: 45vh;}
			.min-vh-50{min-height: 50vh;}
			.min-vh-55{min-height: 55vh;}
			.min-vh-60{min-height: 60vh;}
			.min-vh-65{min-height: 65vh;}
			.min-vh-70{min-height: 70vh;}
			.min-vh-75{min-height: 75vh;}
			.min-vh-80{min-height: 80vh;}
			.min-vh-85{min-height: 85vh;}
			.min-vh-90{min-height: 90vh;}
			.min-vh-95{min-height: 95vh;}
			.min-vh-100{min-height: 100vh;}

			/* max-height % */
			.max-h-10{max-height: 10%;}
			.max-h-15{max-height: 15%;}
			.max-h-20{max-height: 20%;}
			.max-h-25{max-height: 25%;}
			.max-h-30{max-height: 30%;}
			.max-h-35{max-height: 35%;}
			.max-h-40{max-height: 40%;}
			.max-h-45{max-height: 45%;}
			.max-h-50{max-height: 50%;}
			.max-h-55{max-height: 55%;}
			.max-h-60{max-height: 60%;}
			.max-h-65{max-height: 65%;}
			.max-h-70{max-height: 70%;}
			.max-h-75{max-height: 75%;}
			.max-h-80{max-height: 80%;}
			.max-h-85{max-height: 85%;}
			.max-h-90{max-height: 90%;}
			.max-h-95{max-height: 95%;}
			.max-h-100{max-height: 100%;}

			/* max-height vh */
			.max-vh-10{max-height: 10vh;}
			.max-vh-15{max-height: 15vh;}
			.max-vh-20{max-height: 20vh;}
			.max-vh-10{max-height: 10vh;}
			.max-vh-25{max-height: 25vh;}
			.max-vh-30{max-height: 30vh;}
			.max-vh-35{max-height: 35vh;}
			.max-vh-40{max-height: 40vh;}
			.max-vh-45{max-height: 45vh;}
			.max-vh-50{max-height: 50vh;}
			.max-vh-55{max-height: 55vh;}
			.max-vh-60{max-height: 60vh;}
			.max-vh-65{max-height: 65vh;}
			.max-vh-70{max-height: 70vh;}
			.max-vh-75{max-height: 75vh;}
			.max-vh-80{max-height: 80vh;}
			.max-vh-85{max-height: 85vh;}
			.max-vh-90{max-height: 90vh;}
			.max-vh-95{max-height: 95vh;}
			.max-vh-100{max-height: 100vh;}

			/* px */
			.h-10px{height: 10px;}
			.h-20px{height: 20px;}
			.h-30px{height: 30px;}
			.h-40px{height: 40px;}
			.h-50px{height: 50px;}
			.h-60px{height: 60px;}
			.h-70px{height: 70px;}
			.h-80px{height: 80px;}
			.h-90px{height: 90px;}
			.h-100px{height: 100px;}
			.h-150px{height: 150px;}
			.h-200px{height: 200px;}
			.h-250px{height: 250px;}
			.h-300px{height: 300px;}
			.h-350px{height: 350px;}
			.h-400px{height: 400px;}
			.h-450px{height: 450px;}
			.h-500px{height: 500px;}
			.h-550px{height: 550px;}
			.h-600px{height: 600px;}
			.h-650px{height: 650px;}
			.h-700px{height: 700px;}
			.h-750px{height: 750px;}
			.h-800px{height: 800px;}
			.h-850px{height: 850px;}
			.h-900px{height: 900px;}
			.h-950px{height: 950px;}
			.h-1000px{height: 1000px;}

			/* max-height px */
			.max-h-100px{max-height: 100px;}
			.max-h-200px{max-height: 200px;}
			.max-h-250px{max-height: 250px;}
			.max-h-500px{max-height: 500px;}
			.max-h-600px{max-height: 600px;}
			.max-h-1000px{max-height: 1000px;}
			.max-h-1200px{max-height: 1200px;}
			.max-h-1500px{max-height: 1500px;}
			.max-h-2000px{max-height: 2000px;}
			.max-h-2200px{max-height: 2200px;}
			.max-h-2500px{max-height: 2500px;}

			/* min-height px */
			.min-h-100px{min-height: 100px;}
			.min-h-200px{min-height: 200px;}
			.min-h-250px{min-height: 250px;}
			.min-h-500px{min-height: 500px;}
			.min-h-600px{min-height: 600px;}
			.min-h-1000px{min-height: 1000px;}
			.min-h-1200px{min-height: 1200px;}
			.min-h-1500px{min-height: 1500px;}
			.min-h-2000px{min-height: 2000px;}
			.min-h-2200px{min-height: 2200px;}
			.min-h-2500px{min-height: 2500px;}
		}
	}

	@layer display{
		/* none */
		.d-none{display: none;}

		/* block */
		.d-block{display: block;}

		/* inline-block */
		.d-inline-block{display: inline-block;}

		@layer flex{
			.d-inline-flex{display: inline-flex;}
			.d-flex{display: flex;}
			.flex-row{flex-direction: row;}
			.flex-column{flex-direction: column;}

			/* X - justify-content */
			.flex-x-start{justify-content: flex-start;}
			.flex-x-end{justify-content: flex-end;}
			.flex-x-center{justify-content: center;}
			.flex-x-between{justify-content: space-between;}
			.flex-x-around{justify-content: space-around;}

			/* Y - align-items */
			.flex-y-start{align-items: flex-start;}
			.flex-y-end{align-items: flex-end;}
			.flex-y-center{align-items: center;}
			.flex-y-baseline{align-items: baseline;}
			.flex-y-stretch{align-items: stretch;}

			/* XY */
			.flex-center{
			  justify-content: center;
			  align-items: center;
			}

			/* Needs to be done here: align-self */

			.flex-nowrap{flex-wrap: nowrap;}
			.flex-wrap{flex-wrap: wrap;}
			.flex-wrap-reverse{flex-wrap: wrap-reverse;}
		}
	}

	@layer spacing{
		@layer margin{
			/* All sides */
			.m-0{margin: 0px;}
			.m-1{margin: var(--margin);}
			.m-2{margin: calc(var(--margin) * 2);}
			.m-3{margin: calc(var(--margin) * 3);}
			.m-4{margin: calc(var(--margin) * 4);}
			.m-5{margin: calc(var(--margin) * 5);}

			/* Top */
			.mt-0{margin-top: 0px;}
			.mt-1{margin-top: var(--margin);}
			.mt-2{margin-top: calc(var(--margin) * 2);}
			.mt-3{margin-top: calc(var(--margin) * 3);}
			.mt-4{margin-top: calc(var(--margin) * 4);}
			.mt-5{margin-top: calc(var(--margin) * 5);}

			/* Right */
			.mr-0{margin-right: 0px;}
			.mr-1{margin-right: var(--margin);}
			.mr-2{margin-right: calc(var(--margin) * 2);}
			.mr-3{margin-right: calc(var(--margin) * 3);}
			.mr-4{margin-right: calc(var(--margin) * 4);}
			.mr-5{margin-right: calc(var(--margin) * 5);}

			/* Bottom */
			.mb-0{margin-bottom: 0px;}
			.mb-1{margin-bottom: var(--margin);}
			.mb-2{margin-bottom: calc(var(--margin) * 2);}
			.mb-3{margin-bottom: calc(var(--margin) * 3);}
			.mb-4{margin-bottom: calc(var(--margin) * 4);}
			.mb-5{margin-bottom: calc(var(--margin) * 5);}

			/* Left */
			.ml-0{margin-left: 0px;}
			.ml-1{margin-left: var(--margin);}
			.ml-2{margin-left: calc(var(--margin) * 2);}
			.ml-3{margin-left: calc(var(--margin) * 3);}
			.ml-4{margin-left: calc(var(--margin) * 4);}
			.ml-5{margin-left: calc(var(--margin) * 5);}

			/* X, Left To Right */
			.mx-0{
				margin-left: 0px;
				margin-right: 0px;
			}
			.mx-1{
				margin-left: var(--margin);
				margin-right: var(--margin);
			}
			.mx-2{
				margin-left: calc(var(--margin) * 2);
				margin-right: calc(var(--margin) * 2);
			}
			.mx-3{
				margin-left: calc(var(--margin) * 3);
				margin-right: calc(var(--margin) * 3);
			}
			.mx-4{
				margin-left: calc(var(--margin) * 4);
				margin-right: calc(var(--margin) * 4);
			}
			.mx-5{
				margin-left: calc(var(--margin) * 5);
				margin-right: calc(var(--margin) * 5);
			}

			/* Y, Top To Bottom */
			.my-0{
				margin-top: 0px;
				margin-bottom: 0px;
			}
			.my-1{
				margin-top: var(--margin);
				margin-bottom: var(--margin);
			}
			.my-2{
				margin-top: calc(var(--margin) * 2);
				margin-bottom: calc(var(--margin) * 2);
			}
			.my-3{
				margin-top: calc(var(--margin) * 3);
				margin-bottom: calc(var(--margin) * 3);
			}
			.my-4{
				margin-top: calc(var(--margin) * 4);
				margin-bottom: calc(var(--margin) * 4);
			}
			.my-5{
				margin-top: calc(var(--margin) * 5);
				margin-bottom: calc(var(--margin) * 5);
			}
		}

		@layer padding{
			/* All sides */
			.p-0{padding: 0px;}
			.p-1{padding: var(--padding);}
			.p-2{padding: calc(var(--padding) * 2);}
			.p-3{padding: calc(var(--padding) * 3);}
			.p-4{padding: calc(var(--padding) * 4);}
			.p-5{padding: calc(var(--padding) * 5);}
			.p-6{padding: calc(var(--padding) * 6);}
			.p-7{padding: calc(var(--padding) * 7);}
			.p-8{padding: calc(var(--padding) * 8);}
			.p-9{padding: calc(var(--padding) * 9);}
			.p-10{padding: calc(var(--padding) * 10);}
			.p-20{padding: calc(var(--padding) * 20);}

			/* Top */
			.pt-0{padding-top: 0px;}
			.pt-1{padding-top: var(--padding);}
			.pt-2{padding-top: calc(var(--padding) * 2);}
			.pt-3{padding-top: calc(var(--padding) * 3);}
			.pt-4{padding-top: calc(var(--padding) * 4);}
			.pt-5{padding-top: calc(var(--padding) * 5);}
			.pt-6{padding-top: calc(var(--padding) * 6);}
			.pt-7{padding-top: calc(var(--padding) * 7);}
			.pt-8{padding-top: calc(var(--padding) * 8);}
			.pt-9{padding-top: calc(var(--padding) * 9);}
			.pt-10{padding-top: calc(var(--padding) * 10);}
			.pt-20{padding-top: calc(var(--padding) * 20);}

			/* Right */
			.pr-0{padding-right: 0px;}
			.pr-1{padding-right: var(--padding);}
			.pr-2{padding-right: calc(var(--padding) * 2);}
			.pr-3{padding-right: calc(var(--padding) * 3);}
			.pr-4{padding-right: calc(var(--padding) * 4);}
			.pr-5{padding-right: calc(var(--padding) * 5);}
			.pr-6{padding-right: calc(var(--padding) * 6);}
			.pr-7{padding-right: calc(var(--padding) * 7);}
			.pr-8{padding-right: calc(var(--padding) * 8);}
			.pr-9{padding-right: calc(var(--padding) * 9);}
			.pr-10{padding-right: calc(var(--padding) * 10);}
			.pr-20{padding-right: calc(var(--padding) * 20);}

			/* Bottom */
			.pb-0{padding-bottom: 0px;}
			.pb-1{padding-bottom: var(--padding);}
			.pb-2{padding-bottom: calc(var(--padding) * 2);}
			.pb-3{padding-bottom: calc(var(--padding) * 3);}
			.pb-4{padding-bottom: calc(var(--padding) * 4);}
			.pb-5{padding-bottom: calc(var(--padding) * 5);}
			.pb-6{padding-bottom: calc(var(--padding) * 6);}
			.pb-7{padding-bottom: calc(var(--padding) * 7);}
			.pb-8{padding-bottom: calc(var(--padding) * 8);}
			.pb-9{padding-bottom: calc(var(--padding) * 9);}
			.pb-10{padding-bottom: calc(var(--padding) * 10);}
			.pb-20{padding-bottom: calc(var(--padding) * 20);}

			/* Left */
			.pl-0{padding-left: 0px;}
			.pl-1{padding-left: var(--padding);}
			.pl-2{padding-left: calc(var(--padding) * 2);}
			.pl-3{padding-left: calc(var(--padding) * 3);}
			.pl-4{padding-left: calc(var(--padding) * 4);}
			.pl-5{padding-left: calc(var(--padding) * 5);}
			.pl-6{padding-left: calc(var(--padding) * 6);}
			.pl-7{padding-left: calc(var(--padding) * 7);}
			.pl-8{padding-left: calc(var(--padding) * 8);}
			.pl-9{padding-left: calc(var(--padding) * 9);}
			.pl-10{padding-left: calc(var(--padding) * 10);}
			.pl-20{padding-left: calc(var(--padding) * 20);}

			/* X, Left To Right */
			.px-0{
				padding-left: 0px;
				padding-right: 0px;
			}
			.px-1{
				padding-left: var(--padding);
				padding-right: var(--padding);
			}
			.px-2{
				padding-left: calc(var(--padding) * 2);
				padding-right: calc(var(--padding) * 2);
			}
			.px-3{
				padding-left: calc(var(--padding) * 3);
				padding-right: calc(var(--padding) * 3);
			}
			.px-4{
				padding-left: calc(var(--padding) * 4);
				padding-right: calc(var(--padding) * 4);
			}
			.px-5{
				padding-left: calc(var(--padding) * 5);
				padding-right: calc(var(--padding) * 5);
			}
			.px-6{
				padding-left: calc(var(--padding) * 6);
				padding-right: calc(var(--padding) * 6);
			}
			.px-7{
				padding-left: calc(var(--padding) * 7);
				padding-right: calc(var(--padding) * 7);
			}
			.px-8{
				padding-left: calc(var(--padding) * 8);
				padding-right: calc(var(--padding) * 8);
			}
			.px-9{
				padding-left: calc(var(--padding) * 9);
				padding-right: calc(var(--padding) * 9);
			}
			.px-10{
				padding-left: calc(var(--padding) * 10);
				padding-right: calc(var(--padding) * 10);
			}
			.px-20{
				padding-left: calc(var(--padding) * 20);
				padding-right: calc(var(--padding) * 20);
			}


			/* Y, Top To Bottom */
			.py-0{
				padding-top: 0px;
				padding-bottom: 0px;
			}
			.py-1{
				padding-top: var(--padding);
				padding-bottom: var(--padding);
			}
			.py-2{
				padding-top: calc(var(--padding) * 2);
				padding-bottom: calc(var(--padding) * 2);
			}
			.py-3{
				padding-top: calc(var(--padding) * 3);
				padding-bottom: calc(var(--padding) * 3);
			}
			.py-4{
				padding-top: calc(var(--padding) * 4);
				padding-bottom: calc(var(--padding) * 4);
			}
			.py-5{
				padding-top: calc(var(--padding) * 5);
				padding-bottom: calc(var(--padding) * 5);
			}
			.py-6{
				padding-top: calc(var(--padding) * 6);
				padding-bottom: calc(var(--padding) * 6);
			}
			.py-7{
				padding-top: calc(var(--padding) * 7);
				padding-bottom: calc(var(--padding) * 7);
			}
			.py-8{
				padding-top: calc(var(--padding) * 8);
				padding-bottom: calc(var(--padding) * 8);
			}
			.py-9{
				padding-top: calc(var(--padding) * 9);
				padding-bottom: calc(var(--padding) * 9);
			}
			.py-10{
				padding-top: calc(var(--padding) * 10);
				padding-bottom: calc(var(--padding) * 10);
			}
			.py-20{
				padding-top: calc(var(--padding) * 20);
				padding-bottom: calc(var(--padding) * 20);
			}
		}

		@layer gap{
			.gap-0-1{gap: calc(var(--gap) * 0.1);}
			.gap-0-2{gap: calc(var(--gap) * 0.2);}
			.gap-0-3{gap: calc(var(--gap) * 0.3);}
			.gap-0-4{gap: calc(var(--gap) * 0.4);}
			.gap-0-5{gap: calc(var(--gap) * 0.5);}
			.gap-0-6{gap: calc(var(--gap) * 0.6);}
			.gap-0-7{gap: calc(var(--gap) * 0.7);}
			.gap-0-8{gap: calc(var(--gap) * 0.8);}
			.gap-0-9{gap: calc(var(--gap) * 0.9);}
			.gap-1{gap: var(--gap);}
			.gap-2{gap: calc(var(--gap) * 2);}
			.gap-3{gap: calc(var(--gap) * 3);}
			.gap-4{gap: calc(var(--gap) * 4);}
			.gap-5{gap: calc(var(--gap) * 5);}
		}
	}

	@layer box_shadow{
		.bs-none{box-shadow: none;}

		.bs-default{box-shadow: var(--shadow);}

		.bs-2D{
			box-shadow: -2px 2px 0px 0px hsla(var(--color-main-hue), var(--color-main-saturation), 0%, 0.7);

			transition: var(--transition-velocity) ease-in-out box-shadow;

			&:hover{
				box-shadow: -4px 4px 0px 0px hsla(var(--color-main-hue), var(--color-main-saturation), 0%, 0.5);
			}
		}

		.bs-2D-multi-layer{
			box-shadow:
				5px 5px 0px 0px hsla(var(--color-main-hue), var(--color-main-saturation), 0%, 0.4),
				10px 10px 0px 0px hsla(var(--color-main-hue), var(--color-main-saturation), 0%, 0.3),
				15px 15px 0px 0px hsla(var(--color-main-hue), var(--color-main-saturation), 0%, 0.2),
				20px 20px 0px 0px hsla(var(--color-main-hue), var(--color-main-saturation), 0%, 0.1);
		}
	}

	@layer border{
		.border-success{border:1px solid var(--color-success);}
		.border-info{border:1px solid var(--color-info);}
		.border-warning{border:1px solid var(--color-warning);}
		.border-error{border:1px solid var(--color-error);}


		@layer color{
			.border-color-main{border-color: var(--color-main);}

			.border-color-1{border-color: var(--color-main-tint-1);}
			.border-color-2{border-color: var(--color-main-tint-2);}
			.border-color-3{border-color: var(--color-main-tint-3);}
			.border-color-4{border-color: var(--color-main-tint-4);}
			.border-color-5{border-color: var(--color-main-tint-5);}
			.border-color-6{border-color: var(--color-main-tint-6);}
			.border-color-7{border-color: var(--color-main-tint-7);}
			.border-color-8{border-color: var(--color-main-tint-8);}
			.border-color-9{border-color: var(--color-main-tint-9);}
			.border-color-10{border-color: var(--color-main-tint-10);}

			.border-color-success{border-color: var(--color-success);}
			.border-color-info{border-color: var(--color-info);}
			.border-color-warning{border-color: var(--color-warning);}
			.border-color-error{border-color: var(--color-error);}

			.border-color-black{border-color: var(--color-black);}
			.border-color-white{border-color: var(--color-white);}
		}

		@layer style{
			.border-style-solid{border-style: solid !important;}
			.border-style-dashed{border-style: dashed !important;}
			.border-style-dotted{border-style: dotted !important;}
			.border-style-double{border-style: double !important;}
			.border-style-groove{border-style: groove !important;}
			.border-style-ridge{border-style: ridge !important;}
			.border-style-outset{border-style: outset !important;}
			.border-style-inset{border-style: inset !important;}
		}

		@layer width{
			.border-width-1px{border-width: 1px !important;}
			.border-width-2px{border-width: 2px !important;}
			.border-width-3px{border-width: 3px !important;}
			.border-width-4px{border-width: 4px !important;}
			.border-width-5px{border-width: 5px !important;}
		}

		@layer radius{
			.radius-unset{border-radius: unset;}

			.radius-default{border-radius: var(--radius);}
			.radius-circle{border-radius: 50%;}

			.radius-10px{border-radius: 10px;}
			.radius-20px{border-radius: 20px;}
			.radius-30px{border-radius: 30px;}
			.radius-40px{border-radius: 40px;}
			.radius-50px{border-radius: 50px;}
			.radius-60px{border-radius: 60px;}
			.radius-70px{border-radius: 70px;}
			.radius-80px{border-radius: 80px;}
			.radius-90px{border-radius: 90px;}
			.radius-100px{border-radius: 100px;}

			.radius-200px{border-radius: 200px;}
		}
	}

	@layer animations{
		@supports (animation-timeline: view()){
			@layer onView{
				.onView{
					animation-timeline: view();
					animation-fill-mode: forwards;
					animation-timing-function: linear;

					animation-name:
						var(--fadeIn-name, normal),
						var(--fadeOut-name, normal),
						var(--scaleUpOut-name, normal),
						var(--scaleDownIn-name, normal)
					;

					animation-range-start:
						var(--fadeIn-range-start, normal),
						var(--fadeOut-range-start, normal),
						var(--scaleUpOut-range-start, normal),
						var(--scaleDownIn-range-start, normal)
					;

					animation-range-end:
						var(--fadeIn-range-end, normal),
						var(--fadeOut-range-end, normal),
						var(--scaleUpOut-range-end, normal),
						var(--scaleDownIn-range-end, normal)
					;

					&.fadeIn{
						--fadeIn-name: fadeIn;
						--fadeIn-range-start: 30%;
						--fadeIn-range-end: 50%;

						opacity: 0;
					}

					&.fadeOut{
						--fadeOut-name: fadeOut;
						--fadeOut-range-start: 50%;
						--fadeOut-range-end: 70%;
					}

					&.scaleUpOut{
						--scaleUpOut-name: scaleUpOut;
						--scaleUpOut-range-start: 60%;
						--scaleUpOut-range-end: 80%;
					}

					&.scaleDownIn{
						--scaleDownIn-name: scaleDownIn;
						--scaleDownIn-range-start: 20%;
						--scaleDownIn-range-end: 40%;
					}
				}

				@keyframes fadeIn{to {opacity: 1;}}
				@keyframes fadeOut{to {opacity: 0;}}

				@keyframes scaleUpOut{
					from {scale: 1;}
					to {scale: 1.5;}
				}
				@keyframes scaleDownIn{
					from {scale: 1.5;}
					to {scale: 1;}
				}
			}
		}

		@supports (animation-timeline: scroll()){
			@layer onScroll{
				.onScroll{
					animation-fill-mode: forwards;
					animation-timing-function: linear;

					&.backgroundShift{
						animation: backgroundShift;
						animation-timeline: scroll(root);
					}

				}

				@keyframes backgroundShift{
					from {background-color: var(--color-main-tint-1);}
					to {background-color: var(--color-main-tint-4);}
				}
			}
		}
	}

	@layer print{
		@media print{
			.on-print-display-none{display: none !important;}
			.on-print-opacity-0{opacity: 0 !important;}

			.on-print-bs-none{box-shadow: none !important;}
			.on-print-bs-none-all-children{
				& *{box-shadow: none !important;}
			}
		}
	}

	/* Everything with no specific layer or could not name or too small to have own section/layer goes under other */
	@layer other{
		@layer details{
			details{
				& > summary{
					cursor: pointer;
					user-select: none;
				}
			}
		}

		/**************************** Info, Success, Warning, Error START ****************************/
		success{
			color: var(--color-success);

			&::before{
				content:"\2713";
			}
		}

		info{
			color: var(--color-info);

			&::before{
				content:"\2139";
			}
		}

		warning{
			color: var(--color-warning);

			&::before{
				content:"\26A0";
			}
		}

		error{
			color: var(--color-error);

			&::before{
				content: "\2715";
			}
		}

		info, success, warning, error{
			&::before{
				margin-right:5px;
			}

			&:empty{
			}
		}
		/**************************** Info, Success, Warning, Error END ****************************/

		/**************************** Disabled START ****************************/
		*{
			&.disabled, [disabled], :disabled{
				pointer-events: none !important;
				/* Has no effect since no pointer events is none */
				cursor: not-allowed !important;
				opacity: 0.5 !important;

				&:hover, :active, :focus, ::before, ::after{
					pointer-events: none !important;
				}
			}
		}
		/**************************** Disabled END ****************************/

		/**************************** Disable selecting START ****************************/
		.no-select{
			user-select: none;
		}
		/**************************** Disable selecting END ****************************/

		/**************************** Overflow START ****************************/
		.overflow-hidden{
			overflow: hidden;
		}
		.overflow-x-hidden{
			overflow-x: hidden;
		}
		.overflow-y-hidden{
			overflow-y: hidden;
		}
		/**************************** Overflow selecting END ****************************/

		/**************************** HR START ****************************/
		hr{
			border:none;
			border-top:1px solid var(--color-text-secondary);

			/* 2D */
			&.v-2D{
				border-top:1px solid var(--color-main-tint-4);
				border-bottom:1px solid var(--color-main-tint-2);
			}
		}
		/**************************** HR END ****************************/
	}
}
