<!DOCTYPE html>
<html lang="{{Globals.CONF["default"]["language"]["fallback"]}}" dir="ltr">

	{% include 'head.html' %}

	<body>

		<main></main>

		{% include 'footer.html' %}

		<header></header>

		{% if Globals.CONF["menu"]["enabled"] == True  %}
			<x-icon for="menu" color="#ffffff" name="menu"></x-icon>
			{% include 'menu.html' %}
		{% endif %}

		<cover></cover>

		<modal>
			<x-icon class="btn btn-primary" for="modal_close" name="x" color="ffffff"></x-icon>
			<main></main>
		</modal>

		<toasts></toasts>

		<loading></loading>

	</body>

</html>
