<!DOCTYPE html>
<html lang="{{langCode}}" dir="ltr">

  {% include 'head.html' %}

  <body>

    <loading></loading>

    <toasts></toasts>

    {% if conf["features"]["menu"] == True  %}
      {% include 'menu.html' %}
    {% endif %}

    {% include 'svg.html' %}

    <cover></cover>

    {% include 'header.html' %}

    <main></main>

    <!-- <main>
      <h1>Purchase Your Product!</h1>
      <button type="submit" id="btn">Buy me for 99.00 $</button>
    </main> -->
    <!-- <script src="https://js.stripe.com/v3/"></script> -->

    {% include 'footer.html' %}

  </body>
</html>
